{% extends 'business/monbuisness.html.twig' %}
{% block head %}
{{parent()}}
{% endblock %}
  {% block nav %}
  {{parent()}}
  {% endblock %}
 {% block sidebar %}
 {{parent()}}
{% endblock %}
{% block menufooter %}
{{parent()}}
{% endblock %}
{% block topnavigation %}
{{parent()}}
{% endblock %}   
{% block content %}
        <!-- page content -->
        <div class="right_col" role="main">
                            <div class="entete entete-min">
	<h1 class="dblock">
		{{'typeofproduct'|trans}}	</h1>
</div>

<div class="x_panel">
	<div class="margeur-20">
		<a href="{{path('unit_invoicing_create')}}" title="Create a product" class="btn btn-lg btn-primary w-200 fleft">
			{{'unitsfac'|trans}}		</a>

		<p class="fleft margeur-l20">
			ex : panneau solaire, écran d'ordinateur,...		</p>

		<div class="clearer"></div>
	</div>

	<div class="margeur-15">
		<a href="{{path('Variable_invoicing')}}" title="Create a product" class="btn btn-lg btn-primary w-200 fleft">
			{{'unitsvar'|trans}}		</a>

		<p class="fleft margeur-l20">
			ex : prestation de service, développement d'un logiciel, ...		</p>

		<div class="clearer"></div>
	</div>

	<div class="margeur-15">
		<a href="{{path('reccuring_invoicing_create')}}" title="Create a product" class="btn btn-lg btn-primary w-200 fleft">
			{{'unitsrecu'|trans}}		</a>

		<p class="fleft margeur-l20">
			ex : abonnement, maintenance, ...		</p>

		<div class="clearer"></div>
	</div>

	
</div>
                    </div>
        <!-- /page content -->

            {% endblock %}
       	{% block footer %}
{{parent()}}
{% endblock %}
 {% block comment %}
 {{parent()}} 
 {% endblock %}         