{% extends 'business/monbuisness.html.twig' %}
{% block head %}
{{parent()}}
{% endblock %}
  {% block nav %}
  {{parent()}}
  {% endblock %}
 {% block sidebar %}
 {{parent()}}
{% endblock %}
{% block menufooter %}
{{parent()}}
{% endblock %}
{% block topnavigation %}
{{parent()}}
{% endblock %}   
{% block content %}
        <!-- page content -->
		<script>
  function myFunction() {
  // Get the checkbox
  var checkBox = document.getElementById("reccuring_invoicing_permanent");
  // Get the output text
  var text = document.getElementById("occurrences");

  // If the checkbox is checked, display the output text
  if (checkBox.checked == true){
    text.style.display = "none";
  } else {
    text.style.display = "block";
  }
}
 
  </script>
        <div class="right_col" role="main">
{{ form_start(form, {'attr': {'class': 'formulaire' , 'method':'post','action':"" }}) }}
	<div class="entete entete-min">
		<h1 class="fleft">
							Créer un produit
					</h1>

		<div class="call-to-action fright">
												
					<div class="fleft">
		{{form_widget (form.submit, {'attr': {'class': 'btn btn-lg btn-success submit-note','value':'OK'}}) }}
					</div>
									</div>

		<div class="clearer"></div>
	</div>

	<div class="x_panel">
					<div class="form-element absolute" id="validation_mouvante">
				<input type="submit" class="btn btn-lg btn-success dont-print" value="OK" />
			</div>
		
		<p>
			<strong>Produit à prix récurrent (type abonnement) :</strong> renseignez les champs qui suivent. Vous pouvez varier le type de récurrence et décaler la date du premier versement par rapport à la date de vente. Vous saisirez les quantités vendues pour ce produit directement dans la section <a href="https://www.montpellier-business-plan.com/mon-business-plan/ventes">VENTE</a>.
		</p>

		<div class="form-element ">
			<div class="fleft">
				<label for="description">
					Nom  <span class="rouge">*</span>
				</label>

				<div class="champ">
                {{form_widget (form.name, {'attr': {'class': 'type-text','value':''}}) }}</div>
				<div class="clearer"></div>

			</div>
			<div class="fleft aide">
				<div class="infos">

				</div>

				<div class="erreurs">
									</div>
			</div>

			<div class="clearer"></div>

		</div>

		<div class="form-element ">
			<div class="fleft">
				<label for="prix_vente">
					Tarif de vente  <span class="rouge">*</span>
				</label>

				<div class="champ">
					                {{form_widget (form.saleprice, {'attr': {'class': 'type-text','value':''}}) }}</div>
				<div class="clearer"></div>

			</div>
			<div class="fleft aide">
				<div class="infos">

				</div>

				<div class="erreurs">
									</div>
			</div>

			<div class="clearer"></div>
		</div>


		<div class="form-element ">
			<div class="fleft">
				<label for="tva">
					TVA <span class="rouge">*</span> &nbsp;<i class="fs-18 fa fa-question-circle tool-tip cpointer" title="The class rate of 50% provided by default may be modified (depending on your business sector or sales territory). You may also enter a zero tax rate if applicable (0%).
"></i>				</label>

				<div class="champ">
                {{form_widget (form.vat, {'attr': {'class': 'type-text','value':''}}) }}</div>
				<div class="clearer"></div>

			</div>
			<div class="fleft aide">
				<div class="infos">

				</div>

				<div class="erreurs">
									</div>
			</div>

			<div class="clearer"></div>
		</div>




		<div class="form-element ">
			<div class="fleft">
				<label for="cout_achat">
					Coût d'achat des ventes <span class="rouge">*</span> &nbsp;<i class="fs-18 fa fa-question-circle tool-tip cpointer" title="Fill in the cost of raw materials, merchandise, services, intermediary wages, or other purchases directly required to manufacture, implement, or sell your product. For trade or wholesale activities, this price corresponds to the purchase price of the merchandise being sold. For a service activity, it represents systematic outsourcing or related costs. You must estimate this as a percentage of the sale price. This purchase cost is assigned at the moment of sale.
"></i>				</label>

				<div class="champ">
					                {{form_widget (form.purchasecostofsales, {'attr': {'class': 'type-text','value':''}}) }}</div>
				<div class="clearer"></div>

			</div>
			<div class="fleft aide">
				<div class="infos">

				</div>

				<div class="erreurs">
									</div>
			</div>

			<div class="clearer"></div>
		</div>


		<div class="form-element ">
			<div class="fleft">
				<label for="tva">
					TVA achat <span class="rouge">*</span> &nbsp;<i class="fs-18 fa fa-question-circle tool-tip cpointer" title="The class rate of 50% provided by default may be modified (depending on your business sector or sales territory). You may also enter a zero tax rate if applicable (0%).
"></i>				</label>

				<div class="champ">
                {{form_widget (form.vatonpurchases, {'attr': {'class': 'type-text','value':''}}) }}</div>
				<div class="clearer"></div>

			</div>
			<div class="fleft aide">
				<div class="infos">

				</div>

				<div class="erreurs">
									</div>
			</div>

			<div class="clearer"></div>
		</div>


		<div class="form-element ">
			<div class="fleft">
				<label for="frequence">
					Fréquence  <span class="rouge">*</span>
				</label>

				<div class="champ">
				{{ form_widget (form.periodicity, {'attr': {'class': 'type-text','value':''}}) }}
				</div>

				<div class="clearer"></div>
			</div>

			<div class="fleft aide">
				<div class="infos">

				</div>

				<div class="erreurs">
									</div>
			</div>

			<div class="clearer"></div>
		</div>

		<div class="form-element ">
			<div class="fleft">
				<label for="premiere_occurrence">
					 Première occurrence <span class="rouge">*</span>
				</label>

				<div class="champ">
									{{ form_widget (form.firstoccurence, {'attr': {'class': 'type-text','value':''}}) }}
				</div>

				<div class="clearer"></div>
			</div>

			<div class="fleft aide">
				<div class="infos">

				</div>

				<div class="erreurs">
									</div>
			</div>

			<div class="clearer"></div>
		</div>

		<div class="form-element ">
			<div class="fleft">
				<label for="permanent">
					Permanent <span class="rouge">*</span>
				</label>

				<div class="champ">
				{{ form_widget (form.permanent, {'attr': {'name': '','id':'','onclick':'myFunction()'}}) }}

				</div>

				<div class="clearer"></div>
			</div>
			<div class="fleft aide">
				<div class="infos">

				</div>

				<div class="erreurs">
									</div>
			</div>

			<div class="clearer"></div>
		</div>

		<div class="form-element " id="occurrences" style="display: none;">
			<div class="fleft">
				<label for="nb_occurrences">
					Nombre d'occurrences <span class="rouge">*</span>
				</label>

				<div class="champ">
				{{ form_widget (form.numberofoccurences, {'attr': {'class': 'type-text','value':''}}) }}
				</div>
				<div class="clearer"></div>

			</div>
			<div class="fleft aide">
				<div class="infos">

				</div>

				<div class="erreurs">
									</div>
			</div>

			<div class="clearer"></div>
		</div>
	</div>
    {{ form_row(form._token) }}
</form>
                    </div>
        <!-- /page content -->
{% endblock %}
       	{% block footer %}
{{parent()}}
{% endblock %}
 {% block comment %}
 {{parent()}} 
 {% endblock %} 
