
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Products | business - Montpellier Business Plan</title>

                                        <link href="../../../../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
                            <link href="../../../../css/reset.css" rel="stylesheet" type="text/css" />
                            <link href="../../../../css/generic.css" rel="stylesheet" type="text/css" />
                            <link href="../../../../css/jquery-ui-1.9.0.custom.min.css" rel="stylesheet" type="text/css" />
                            <link href="../../../../css/jquery.gritter.css" rel="stylesheet" type="text/css" />
                            <link href="../../../../css/jquery.lightbox-0.5.css" rel="stylesheet" type="text/css" />
                            <link href="../../../../css/jquery.jqzoom.css" rel="stylesheet" type="text/css" />
                            <link href="../../../../css/buttons.css" rel="stylesheet" type="text/css" />
                            <link href="../../../../css/breadcrumbs.css" rel="stylesheet" type="text/css" />
                            <link href="../../../../css/alertify.core.css" rel="stylesheet" type="text/css" />
                            <link href="../../../../css/alertify.default.css" rel="stylesheet" type="text/css" />
                            <link href="../../../../css/font-awesome.min.css" rel="stylesheet" type="text/css" />
                            <link href="../../../../css/modal.css" rel="stylesheet" type="text/css" />
                            <link href="../../../../css/styles.css" rel="stylesheet" type="text/css" />
                            <link href="../../../../css/dashboard.css" rel="stylesheet" type="text/css" />
                            <link href="../../../../css/dashboard-2.css" rel="stylesheet" type="text/css" />
                    
                                    <link href="../../../css/print.css" rel="stylesheet" type="text/css" media="print" />
                        
            <script type="text/javascript">
            var site_url = 'https://www.montpellier-business-plan.com/';
            var base_url = 'https://www.montpellier-business-plan.com/';
            var lang_url = 'en';
            var current_url = 'https://www.montpellier-business-plan.com/mon-business-plan/creer-produit';
        </script>

                                    <script src="../../../../js/jquery-1.10.2.min.js" type="text/javascript" ></script>
                            <script src="../../../../js/jquery-ui.min.js" type="text/javascript" ></script>
                            <script src="../../../../js/bootstrap.min.js" type="text/javascript" ></script>
                            <script src="../../../../js/jquery.gritter.min.js" type="text/javascript" ></script>
                            <script src="../../../../js/jquery.lightbox-0.5.min.js" type="text/javascript" ></script>
                            <script src="../../../../js/modal.js" type="text/javascript" ></script>
                            <script src="../../../../js/jquery.general.js" type="text/javascript" ></script>
                            <script src="../../../../js/jqFancyTransitions.1.8.js" type="text/javascript" ></script>
                            <script src="../../../../js/jquery.backgroundposition.js" type="text/javascript" ></script>
                            <script src="../../../../js/jquery.scrollfollow.js" type="text/javascript" ></script>
                            <script src="../../../../js/jquery.jqzoom-core-pack.js" type="text/javascript" ></script>
                            <script src="../../../../js/jquery.animate-colors.js" type="text/javascript" ></script>
                            <script src="../../../../js/jquery.token.js" type="text/javascript" ></script>
                            <script src="../../../../js/phpjs.min.js" type="text/javascript" ></script>
                            <script src="../../../../js/alertify.min.js" type="text/javascript" ></script>
                            <script src="../../../../js/highcharts.js" type="text/javascript" ></script>
                            <script src="../../../../js/highcharts-more.js" type="text/javascript" ></script>
                            <script src="../../../../js/highcharts.init.js" type="text/javascript" ></script>
                            <script src="../../../../js//highcharts_modules/exporting.js" type="text/javascript" ></script>
                            <script src="../../../../../js/espace_client/tableaux.js" type="text/javascript" ></script>
                            <script src="../../../../js/espace_client/commentaires.js" type="text/javascript" ></script>
                    
        
            
    <link rel="apple-touch-icon" sizes="57x57" href="../../../../images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../../../../images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../../../images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../../../../images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../../../images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../../../images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../../../images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../../../images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../../../../images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../../../../images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../../../images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../../../../images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../../../images/favicon/favicon-16x16.png">
    <link rel="manifest" href="../../../../images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../../../../images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">

        
            <div class="col-md-3 left_col">
              <div class="left_col scroll-view">
                  <!--
                  <div class="navbar nav_title acenter" style="border: 0; height:auto;">
                    <a href="https://www.montpellier-business-plan.com/mes-business-plan">
                       <img src="https://www.montpellier-business-plan.com/images/design/header/logo-mmm-only-white.png" alt="" />
                    </a>
                  </div>

                <div class="clearfix"></div>

                <br />-->

                <div style="height:25px; width:230px;"></div>

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                  <div class="menu_section">
                    <h3>Business plans</h3>
                    <ul class="nav side-menu">
                      <li>
                          <a href="https://www.montpellier-business-plan.com/mes-business-plan"><i class="fa fa-list"></i> Tous </a>
                      </li>

                                                <li>
                              <a href="https://www.montpellier-business-plan.com/creer-business-plan"><i class="fa fa-plus"></i> Nouveau </a>
                          </li>
                      
                                                <li class="active"><a><i class="fa fa-table"></i> business <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu" style="display:block">
                                <li class="current-page">
                    				<a href="https://www.montpellier-business-plan.com/mon-business-plan/produits" title="Products">
                    					Products                    				</a>
                    			</li>

                    			<li class="">
                    				<a href="https://www.montpellier-business-plan.com/mon-business-plan/ventes" title="Sales">
                    					Sales                    				</a>
                    			</li>

                    			<li class="">
                    				<a href="https://www.montpellier-business-plan.com/mon-business-plan/encaissement-des-ventes" title="Encaissement des ventes">
                    						Receipts                    				</a>
                    			</li>

                    			<li class="">
                    				<a href="https://www.montpellier-business-plan.com/mon-business-plan/cout-d-achat-des-ventes" title="Purchases">
                    					Purchases                    				</a>
                    			</li>

                    			<li class="">
                    				<a href="https://www.montpellier-business-plan.com/mon-business-plan/frais-generaux" title="General expenses">
                    					General expenses                    				</a>
                    			</li>

                    			<li class="">
                    				<a href="https://www.montpellier-business-plan.com/mon-business-plan/investissements" title="Investments">
                    					Investments                    				</a>
                    			</li>

                    			<li class="">
                    				<a href="https://www.montpellier-business-plan.com/mon-business-plan/amortissements" title="Depreciation">
                    					Depreciation                    				</a>
                    			</li>

                    			<li class="">
                    				<a href="https://www.montpellier-business-plan.com/mon-business-plan/emprunts" title="Loans">
                    					Loans                    				</a>
                    			</li>


                    			<li class="">
                    				<a href="https://www.montpellier-business-plan.com/mon-business-plan/personnel" title="Staff">
                    					Staff                    				</a>
                    			</li>

                    			<li class="">
                    				<a href="https://www.montpellier-business-plan.com/mon-business-plan/compte-resultat" title="Compte de résultat">
                    					Compte de résultat                    				</a>
                    			</li>

                    			                    				<li class="">
                    					<a>
                    						Prior items                    					</a>
                    				</li>
                    			
                    			                    				<li class="">
                    					<a href="https://www.montpellier-business-plan.com/mon-business-plan/tva-annee-0" title="VAT">
                    						VAT                    					</a>
                    				</li>
                    			
                    			                    				<li class="">
                    					<a href="https://www.montpellier-business-plan.com/mon-business-plan/is-annee-0" title="Corporate tax">
                    						Corporate tax                    					</a>
                    				</li>
                    			
                    			<li class="">
                    				<a href="https://www.montpellier-business-plan.com/mon-business-plan/bfr" title="WCR">
                    					WCR                    				</a>
                    			</li>

                    			                    				<li class="">
                    					<a href="https://www.montpellier-business-plan.com/mon-business-plan/tresorerie-annee-0" title="Trésorerie">
                    						Trésorerie                    					</a>
                    				</li>
                    			
                    			<li class="">
                    				<a href="https://www.montpellier-business-plan.com/mon-business-plan/plan-financement" title="Plan de financement">
                    					Plan de financement                    				</a>
                    			</li>

                    			<li class="">
                    				<a href="https://www.montpellier-business-plan.com/mon-business-plan/income-statement" title="Profit and Loss">
                    					Profit and Loss
                    				</a>
                    			</li>

                    			<li class="">
                    				<a href="https://www.montpellier-business-plan.com/mon-business-plan/cash-flow" title="Cash flow">
                    					Cash flow
                    				</a>
                    			</li>

                            </ul>
                          </li>
                      
                    </ul>
                  </div>
                  <!-- <div class="menu_section">
                    <h3>Autre</h3>
                    <ul class="nav side-menu">
                      <li>
                          <a href="http://montpellier-business-plan.mynelis.com" target="_blank"><i class="fa fa-bug"></i> Support </a>
                      </li>
                    </ul>
                  </div> -->

                </div>
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
                <div class="sidebar-footer hidden-small">
                  <a href="http://www.bic-montpellier.com/fr/notre-offre/montpellier-business-planne" data-toggle="tooltip" data-placement="top" title="Accueil">
                      <i class="fa fa-home"></i>
                  </a>
                  <a href="https://www.montpellier-business-plan.com/mon-compte" data-toggle="tooltip" data-placement="top" title="Paramètres">
                      <i class="fa fa-cog"></i>
                  </a>
                  <a href="https://www.montpellier-business-plan.com/espace_client/espace_client/ajax_commentremplir/produit" class="open-modal" data-toggle="tooltip" data-placement="top" title="Aide">
                      <i class="fa fa-question-circle"></i>
                  </a>
                  <a href="https://www.montpellier-business-plan.com/frontoffice/deconnexion" data-toggle="tooltip" data-placement="top" title="Sign out">
                      <i class="fa fa-power-off"></i>
                  </a>
                </div>
                <!-- /menu footer buttons -->
              </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
              <div class="nav_menu">
                <nav>
                  <div class="nav toggle">
                    <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                  </div>

                <!--   <div class="logo-line">
                    <img src="https://www.montpellier-business-plan.com/images/design/header/logo-mbp.jpg" alt="" />
                  </div> -->

                  <ul class="nav navbar-nav navbar-right">
                    <li class="">
                      <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        {{app.user.username}}                        <span class=" fa fa-angle-down"></span>
                      </a>
                      <ul class="dropdown-menu dropdown-usermenu pull-right">
                                                        <li>
                                  <a href="https://www.montpellier-business-plan.com/mes-business-plan" title="My business plans">
                                      My business plans                                  </a>
                              </li>

                              <li>
                                  <a href="https://www.montpellier-business-plan.com/mon-compte" title="My account">
                                      My account                                  </a>
                              </li>
                          
                          <li>
                              <a href="https://www.montpellier-business-plan.com/frontoffice/deconnexion" title="Sign out">
                                  Sign out                              </a>
                          </li>
                      </ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <!-- /top navigation -->
        
        <!-- page content -->
        <div class="right_col" role="main">
                            <script type="text/javascript">
	
	</script>
       {{ form_start(form, {'attr': {'class': 'formulaire' , 'method':'post','action':"" }}) }}

	<div class="entete entete-min">
		<h1 class="fleft">
							Create a product					</h1>


		<div class="call-to-action fright">
												
					<div class="fleft">
                                            {{form_widget (form.submit, {'attr': {'class': 'btn btn-md btn-success dont-print','value':'OK'}}) }}

					</div>
									</div>

		<div class="clearer"></div>
	</div>

	<div class="x_panel">

		<input type="hidden" name="type" value="unitaire" />
		
					<div class="form-element absolute" id="validation_mouvante">
                 {{form_widget (form.submit, {'attr': {'class': 'btn btn-lg btn-success dont-print','value':'OK'}}) }}

			</div>
		
		<p>
							<strong>Product with unit invoicing</strong>
					</p>


		<div class="form-element ">
			<div class="fleft">
				<label for="description">
					Name <span class="rouge">*</span>
				</label>

				<div class="champ">
                          {{form_widget (form.name, {'attr': {'class': 'type-text','value':''}}) }}

				<div class="clearer"></div>

			</div>
			<div class="fleft aide">
				<div class="infos">

				</div>

				<div class="erreurs">
									</div>
			</div>

			<div class="clearer"></div>

		</div>

		<div class="onglet_table ">
			<h2 class="margeur-30">Sell price (in {{ business.currency }} HT)</h2>
			<div>
				<table class="tableau margeur-15">
                  
				    <tr>
               {% for i in 1..business.numberofyears %}
			<th> Year {{i }}</th>
												
					 {% endfor %}	
					</tr>
                    
					<tr>
                         {% for sellPrice in form.sellsPrice %}
                    <td class="aright">
					             {{ form_widget(sellPrice, {'attr': {'class': 'type-text','type':'text','value':'0','size':'1','style':'background-color: rgb(250, 250, 250);'}}) }} 
					  
					 </td>
					   
				        {% endfor %}
					
                    </tr>
                
				</table>
			</div>
		</div>

		<div class="form-element ">
			<div class="fleft">
				<label for="tva">
					VAT (in %) <span class="rouge">*</span>
				</label>

				<div class="champ">
			 {{form_widget (form.vat, {'attr': {'class': 'type-text','value':'0.00'}}) }}

				<div class="clearer"></div>

			</div>
			<div class="fleft aide">
				<div class="infos">
					&nbsp;<i class="fs-18 fa fa-question-circle tool-tip cpointer" title="The class rate of 20% provided by default may be modified (depending on your business sector or sales territory). You may also enter a zero tax rate if applicable (0%).
"></i>				</div>

				<div class="erreurs">
									</div>
			</div>

			<div class="clearer"></div>
		</div>

		<div  class="onglet_table">
			<h2 class="margeur-30 onglet-encaissement">Product receipt rule (in %) &nbsp;<i class="fs-18 fa fa-question-circle tool-tip cpointer" title="The receipt rule enables you to fill in the Sales Receipts table, which itself is used to fill in the cashflow plan.  For each product, determine the portion that is received at the time of sale (= cash), then month-by-month as applicable. Make sure that the total is 100%.
BIC advice: clients rarely pay the totality of their orders when invoiced. To estimate payment times, examine the practices in your field and base yourself on a 'pessimistic' hypothesis. It's always easier to manage early payment!
"></i></h2>

			<div>
								<table class="tableau margeur-15">
					<tr>
						<th></th>
						<th>Cash</th>
						<th>30 days</th>
						<th>60 days</th>
						<th>90 days</th>
						<th>120 days</th>
					</tr>
                    {% for i in 1..4 %}
                     <tr >
					  {% for product_reciept_rule in form.products_reciept_rule %}
						<td class="aright"></td>
						<td class="aright duplicate">
                        {{ form_widget(product_reciept_rule, {'attr': {'class': 'type-text','value':'0.00'}}) }}
						</td>
						{% endfor %}
						</tr>
						{% endfor %}
				</table>
			</div>
		</div>

		<div  class="onglet_table">
			<h2 class="margeur-30">Purchase cost of sales (in %) &nbsp;<i class="fs-18 fa fa-question-circle tool-tip cpointer" title="Fill in the cost of raw materials, merchandise, services, intermediary wages, or other purchases directly required to manufacture, implement, or sell your product. For trade or wholesale activities, this price corresponds to the purchase price of the merchandise being sold. For a service activity, it represents systematic outsourcing or related costs. You must estimate this as a percentage of the sale price. This purchase cost is assigned at the moment of sale.
"></i></h2>
			<div>
				<table class="tableau margeur-15">
                
				    <tr>
                         {% for i in 1..3 %}
							<th>   Year {{i}}						</th>
						{% endfor %}						
					</tr>
                    
                              

					<tr>
                       {% for i in 1..3 %}
						<td class="aright">
								
							<input type="text" class="type-text"  name="product_cost_sales[$i]" value="0" />			
                            </td>		
                            {% endfor %}								
					</tr>
                    
				</table>
			</div>
		</div>

		<div class="form-element ">
			<div class="fleft">
				<label for="tva_achat">
					VAT on purchases (in %) <span class="rouge">*</span>
				</label>

				<div class="champ">
					<input type="text" class="type-text"  name="vat_purchases" value="20.00" />				</div>
				<div class="clearer"></div>

			</div>
			<div class="fleft aide">
				<div class="infos">
					&nbsp;<i class="fs-18 fa fa-question-circle tool-tip cpointer" title="The class rate of 20% provided by default may be modified (depending on your business sector or sales territory). You may also enter a zero tax rate if applicable (0%).
"></i>				</div>

				<div class="erreurs">
									</div>
			</div>

			<div class="clearer"></div>
		</div>


		<div class="onglet_table">
			<h2 class="margeur-30 onglet-decaissement">Purchase disbursement rule (in %) &nbsp;<i class="fs-18 fa fa-question-circle tool-tip cpointer" title="The disbursement rule enables you to fill in the Purchasing Disbursements table, which itself fills in the cashflow plan.  For purchases that correspond to a specific product, determine the percentage that is disbursed at the moment of sale (= cash), then on a month-by-month basis as applicable. Make sure that the total is 100%.
BIC advice: disbursement always seems too soon! To estimate average times, examine the practices in your field and base yourself on a 'pessimistic' hypothesis. By default, the application proposes 100% of the disbursements as cash.
"></i></h2>
			<div>
								<table class="tableau margeur-15">
					<tr>
						<th></th>
						<th>Cash</th>
						<th>30 days</th>
						<th>60 days</th>
						<th>90 days</th>
						<th>120 days</th>
					</tr>
                    {% for i in 1..4 %}

					<tr >
						<td class="aright">Year {{i}}</td>
						<td class="aright duplicate"><input type="text" class="type-text"  name="purchase_disbursment_rule[cash][$i]" value="100.00"/></td>
						<td class="aright duplicate"><input type="text" class="type-text"  name="purchase_disbursment_rule[30][$i]" value="0.00"/></td>
						<td class="aright duplicate"><input type="text" class="type-text"  name="purchase_disbursment_rule[60][$i]" value="0.00"/></td>
						<td class="aright duplicate"><input type="text" class="type-text"  name="purchase_disbursment_rule[90][$i]" value="0.00"/></td>
						<td class="aright duplicate"><input type="text" class="type-text"  name="purchase_disbursment_rule[120][$i]" value="0.00"/></td>
					</tr>
										{% endfor %}
					
				</table>
			</div>
		</div>

			</div>
            {{form_row (form._token)}}
</form>
                            <input type="hidden" id="id_tableau" name="id_tableau" value="2" />

<div class="bloc-commentaires margeur-50" id="notes">
	<h2 class="fleft">Notes</h2>

		<div class="fright">
		<a href="#" id="hide-notes" class="no_alert_a_sauvegarder" >
			<i class="fa fa-times-circle-o fs-20"></i>
		</a>
	</div>
	<div class="clearer"></div>

	<form action="" method="post" class="formulaire margeur-20">
		<textarea id="note" name="note" ></textarea>

				<div class="form-element">
			<input type="button" class="btn btn-lg btn-success submit-note" value="Save note" />
		</div>
			</form>
	</div>

<div class="bloc-commentaires margeur-50" id="commentaires">
	<div class="clearer">&nbsp;</div><div class="margeur-10"></div>
	<h2 class="fleft">Discussion</h2>
		<div class="fright">
		<a href="#" id="hide-commentaires" class="no_alert_a_sauvegarder">
			<i class="fa fa-times-circle-o fs-20"></i>
		</a>
	</div>
		<div class="clearer"></div>

	<div id="commentaires-container">
			</div>

		<form action="" method="post" class="formulaire margeur-20">
		<div class="champ">
			<input type="text" name="redacteur" id="redacteur" placeholder="Your name" value="" />
		</div>

		<div class="champ margeur-5">
			<textarea id="commentaire" name="commentaire" placeholder="Your comments"></textarea>
		</div>

		<div class="form-element">
			<input type="button" class="btn btn-lg btn-success submit-note" value="Send comments" />
		</div>
	</form>
	
	<div class="margeur-10"></div>
</div>

	<div class="liens-sociaux">
		<div id="show-commentaires" class="fleft btn btn-md btn-primary tool-tip" style="margin:0px" title="Discussion">
			<i class="fa fa-comments fs-18"></i> (<span id="nb-commentaires">0</span>)
		</div>

		<div id="show-notes" class="btn btn-md btn-primary fleft tool-tip" style="margin:0px 0px 0px 10px;" title="Notes">
			<i class="fa fa-sticky-note"></i>
					</div>
	</div>
                    </div>
        <!-- /page content -->

                    <!-- footer content -->
            <footer>
              <div class="pull-left">
                  &copy; Montpellier Méditerranée Métropole 2019                  -
                  <a title="" href="https://www.montpellier-business-plan.com/en/conditions-generales-d-utilisation">End-User Licence Agreement </a>
                  -
                  <a title="" href="https://www.montpellier-business-plan.com/en/mentions-legales">Legal</a>
                  -
                  <a title="" href="https://www.montpellier-business-plan.com/en/credits">Credits</a>
              </div>
              <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->

            <div id="commentremplir">
                <div class="clearer"></div>
                <div class="margeur-15"></div>

                <div class="bouton-close">
                    <a href="#" id="hide-commentremplir" class="no_alert_a_sauvegarder">
                        <i class="fa fa-times-circle-o fs-20"></i>
                    </a>
                </div>

                <div class="content"></div>
            </div>
        
        <script src="https://www.montpellier-business-plan.com/js/dashboard.js" type="text/javascript" ></script>
      </div>
    </div>

    <!-- Modals -->
        	<div class="modal fade modal-popup-confirm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-modal-popup-confirm-confirm">Confirmer</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>    	<div class="modal fade" id="dynamicmodal-lg" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
		    	<button type="button" class="close" data-dismiss="modal">
		    		<i class="fa fa-times-circle-o"></i>
		  			<span class="sr-only">Fermer</span>
		    	</button>
		    	<h1 class="modal-title" id="myModalLabel"></h1>
		    </div>

			<div class="dynamic-container">

			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="dynamicmodal-sm" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
		    	<button type="button" class="close" data-dismiss="modal">
		    		<i class="fa fa-times-circle-o"></i>
		  			<span class="sr-only">Fermer</span>
		    	</button>
		    	<h1 class="modal-title" id="myModalLabel"></h1>
		    </div>

			<div class="dynamic-container">

			</div>
		</div>
	</div>
</div>
    
  </body>
</html>
