
{% extends 'business/monbuisness.html.twig' %}
{% block head %}
{{parent()}}
{% endblock %}
  {% block nav %}
  {{parent()}}
  {% endblock %}
 {% block sidebar %}
 {{parent()}}
{% endblock %}
{% block menufooter %}
{{parent()}}
{% endblock %}
{% block topnavigation %}
{{parent()}}
{% endblock %}   
{% block content %}
        <!-- page content -->
        <div class="right_col" role="main">
                            <script type="text/javascript">
	
	</script>
	{% block page_content %}  
{{ form_start(form, {'attr': {'class': 'formulaire' , 'method':'post','action':"" }}) }}

	<div class="entete entete-min">
		<h1 class="fleft">
							Créer un produit
					</h1>


		<div class="call-to-action fright">
												
					<div class="fleft">
						<input type="submit" class="btn btn-md btn-success dont-print" value="OK" />
					</div>
									</div>

		<div class="clearer"></div>
	</div>

	<div class="x_panel">

		<input type="hidden" name="type" value="prestation" />
		
					<div class="form-element absolute" id="validation_mouvante">
				<input type="submit" class="btn btn-lg btn-success dont-print" value="OK" />
			</div>
		
		<p>
							<strong>Produit à facturation variable</strong>
					</p>

		<div class="form-element ">
			<div class="fleft">
				<label for="description">
					Nom <span class="rouge">*</span>
				</label>

				<div class="champ">

                          {{form_widget (form.name, {'attr': {'class': 'type-text','value':''}}) }}</div>
				<div class="clearer"></div>

			</div>
			<div class="fleft aide">
				<div class="infos">

				</div>

				<div class="erreurs">
                {% if error == null %}
				{{ form_errors(form.name) }}
				{% else %}
				{{error}}
				{% endif %}
			
									</div>
			</div>

			<div class="clearer"></div>

		</div>

		<div class="onglet_table dnone">
			<h2 class="margeur-30">Sell price (in {{ business.currency }} HT)</h2>
			<div>
				<table class="tableau margeur-15">
				    <tr>

												<th>
							Year 1						</th>
												<th>
							Year 2						</th>
												<th>
							Year 3						</th>
												<th>
							Year 4						</th>
												<th>
							Year 5						</th>
						
					</tr>

					<tr>

												<td class="aright">
														<input type="text" class="type-text" id="vente-0" name="vente-0" value="1" />													</td>
												<td class="aright">
														<input type="text" class="type-text" id="vente-1" name="vente-1" value="1" />													</td>
												<td class="aright">
														<input type="text" class="type-text" id="vente-2" name="vente-2" value="1" />													</td>
												<td class="aright">
														<input type="text" class="type-text" id="vente-3" name="vente-3" value="1" />													</td>
												<td class="aright">
														<input type="text" class="type-text" id="vente-4" name="vente-4" value="1" />													</td>
											</tr>
				</table>
			</div>
		</div>

		<div class="form-element ">
			<div class="fleft">
				<label for="tva">
					TVA (en %)  <span class="rouge">*</span>
				</label>

				<div class="champ">
			 {{form_widget (form.vat, {'attr': {'class': 'type-text','value':business.defaultVAT  }}) }}
				</div>

				<div class="clearer"></div>

			</div>
			<div class="fleft aide">
				<div class="infos">
					&nbsp;<i class="fs-18 fa fa-question-circle tool-tip cpointer" title="The class rate of 20% provided by default may be modified (depending on your business sector or sales territory). You may also enter a zero tax rate if applicable (0%).
"></i>				</div>

				<div class="erreurs">
				{{form_errors(form.vat)}}
									</div>
			</div>

			<div class="clearer"></div>
		</div>

		<div  class="onglet_table">
			<h2 class="margeur-30 onglet-encaissement">Loi d'encaissement des produits (en %) &nbsp;<i class="fs-18 fa fa-question-circle tool-tip cpointer" title="The receipt rule enables you to fill in the Sales Receipts table, which itself is used to fill in the cashflow plan.  For each product, determine the portion that is received at the time of sale (= cash), then month-by-month as applicable. Make sure that the total is 100%.
BIC advice: clients rarely pay the totality of their orders when invoiced. To estimate payment times, examine the practices in your field and base yourself on a 'pessimistic' hypothesis. It's always easier to manage early payment!"></i></h2>

			<div>
			<div class="margeur-10 rouge fs-14">
			{% set formErrors = form.productreceipt.vars.errors.form.getErrors(true) %}
				{% if formErrors|length %}
             <ul>
             {% for error in formErrors|slice(0,1) %}
            <li>{{ error.message }}</li>
             {% endfor %}
             </ul>
            {% endif %}
			
		
           					</div>
								<table class="tableau margeur-15">
					<tr>
						<th></th>
						<th>Comptant</th>
						<th>30 jours </th>
						<th>60 jours </th>
						<th>90 jours </th>
						<th>120 jours</th>
					</tr>

						
					
					{% for i in 0..business.numberofyears - 1 %}
					<tr >
					<td> Année {{ i + 1 }}</td>
                  			                 
					{% for productreceipt in form.productreceipt %}
					 
                    <td class="aright duplicate">{{ form_widget (productreceipt[i], {'attr': {'type':'text','class':'type-text','value':'0.00'}}) }}</td>
				
					{% endfor %}
					</tr>
					{% endfor %}
					
				</table>
			</div>
		</div>

		<div  class="onglet_table">
			<h2 class="margeur-30">Purchase cost of sales (in %) &nbsp;<i class="fs-18 fa fa-question-circle tool-tip cpointer" title="Fill in the cost of raw materials, merchandise, services, intermediary wages, or other purchases directly required to manufacture, implement, or sell your product. For trade or wholesale activities, this price corresponds to the purchase price of the merchandise being sold. For a service activity, it represents systematic outsourcing or related costs. You must estimate this as a percentage of the sale price. This purchase cost is assigned at the moment of sale."></i></h2>
			<div>
			<div class="margeur-10 rouge fs-14">
			{% set formErrors = form.purchasecostofsales.vars.errors.form.getErrors(true) %}
				{% if formErrors|length %}
             <ul>
             {% for error in formErrors|slice(0,1) %}
            <li>{{ error.message }}</li>
             {% endfor %}
             </ul>
            {% endif %}
			
			</div>
				<table class="tableau margeur-15">
				    <tr>
                     {% for i in 1..business.numberofyears %}
                     <th>Année {{i}}</th>
					 {% endfor %}
												
					</tr>

					<tr>
                           {% for b in form.purchasecostofsales %}
					<td class="aright">								
							{{ form_widget (b, {'attr': {'type':'text','class':'type-text','value':'0.00'}}) }}													</td>
								{% endfor %}				
				</table>
			</div>
		</div>

		<div class="form-element ">
			<div class="fleft">
				<label for="tva_achat">
					VAT on purchases (in %) <span class="rouge">*</span>
				</label>

				<div class="champ">
                {{ form_widget (form.vatonpurchase, {'attr': {'type':'text','class':'type-text','value':business.defaultVAT}}) }}				</div>
				<div class="clearer"></div>

			</div>
			<div class="fleft aide">
				<div class="infos">
					&nbsp;<i class="fs-18 fa fa-question-circle tool-tip cpointer" title="The class rate of 20% provided by default may be modified (depending on your business sector or sales territory). You may also enter a zero tax rate if applicable (0%).
"></i>				</div>

				<div class="erreurs">
									</div>
			</div>

			<div class="clearer"></div>
		</div>


		<div class="onglet_table">
			<h2 class="margeur-30 onglet-decaissement">Loi de décaissement des achats (en %) &nbsp;<i class="fs-18 fa fa-question-circle tool-tip cpointer" title="The disbursement rule enables you to fill in the Purchasing Disbursements table, which itself fills in the cashflow plan.  For purchases that correspond to a specific product, determine the percentage that is disbursed at the moment of sale (= cash), then on a month-by-month basis as applicable. Make sure that the total is 100%.
BIC advice: disbursement always seems too soon! To estimate average times, examine the practices in your field and base yourself on a 'pessimistic' hypothesis. By default, the application proposes 100% of the disbursements as cash.
"></i></h2>
			<div>
				<div class="margeur-10 rouge fs-14">
			{% set formErrors = form.purchasedisbursement.vars.errors.form.getErrors(true) %}
				{% if formErrors|length %}
             <ul>
             {% for error in formErrors|slice(0,1) %}
            <li>{{ error.message }}</li>
             {% endfor %}
             </ul>
            {% endif %}
           					</div>
								<table class="tableau margeur-15">
					<tr>
						<th></th>
						<th>Comptant</th>
						<th>30 jours </th>
						<th>60 jours </th>
						<th>90 jours </th>
						<th>120 jours </th>
					</tr>
				
	{% for i in 0..business.numberofyears - 1 %}
	
  <tr >
  <td> Année {{i +1}} </td>
			 	
			{% for purchasedisbursement in form.purchasedisbursement %}
			<td class="aright duplicate">{{ form_widget (purchasedisbursement[i], {'attr': {'type':'text','class':'type-text','value':'0.00'}}) }}</td>
             
			{% endfor %}
					</tr>
					
	{% endfor %}					
				</table>
			</div>
		</div>

			</div>
</form>
                            <input type="hidden" id="id_tableau" name="id_tableau" value="2" />

<div class="bloc-commentaires margeur-50" id="notes">
	<h2 class="fleft">Notes</h2>

		<div class="fright">
		<a href="#" id="hide-notes" class="no_alert_a_sauvegarder" >
			<i class="fa fa-times-circle-o fs-20"></i>
		</a>
	</div>
	<div class="clearer"></div>

	<form action="" method="post" class="formulaire margeur-20">
		<textarea id="note" name="note" ></textarea>

				<div class="form-element">
			<input type="button" class="btn btn-lg btn-success submit-note" value="Save note" />
		</div>
			</form>
	</div>

<div class="bloc-commentaires margeur-50" id="commentaires">
	<div class="clearer">&nbsp;</div><div class="margeur-10"></div>
	<h2 class="fleft">Discussion</h2>
		<div class="fright">
		<a href="#" id="hide-commentaires" class="no_alert_a_sauvegarder">
			<i class="fa fa-times-circle-o fs-20"></i>
		</a>
	</div>
		<div class="clearer"></div>

	<div id="commentaires-container">
			</div>

		<form action="" method="post" class="formulaire margeur-20">
		<div class="champ">
			<input type="text" name="redacteur" id="redacteur" placeholder="Your name" value="" />
		</div>

		<div class="champ margeur-5">
			<textarea id="commentaire" name="commentaire" placeholder="Your comments"></textarea>
		</div>

		<div class="form-element">
		{{form_widget (form.submit, {'attr': {'class': 'btn btn-lg btn-success submit-note','value':'OK'}}) }}

		</div>
                 		
{% endblock %}
	<div class="margeur-10"></div>

</div>

	<div class="liens-sociaux">
		<div id="show-commentaires" class="fleft btn btn-md btn-primary tool-tip" style="margin:0px" title="Discussion">
			<i class="fa fa-comments fs-18"></i> (<span id="nb-commentaires">0</span>)
		</div>

		<div id="show-notes" class="btn btn-md btn-primary fleft tool-tip" style="margin:0px 0px 0px 10px;" title="Notes">
			<i class="fa fa-sticky-note"></i>
					</div>
	</div>
                    </div>
        <!-- /page content -->

{% endblock %}
{% block footer %}
{{parent()}}
{% endblock %}
 {% block comment %}
 {{parent()}} 
 {% endblock %} 