{% extends 'business/monbuisness.html.twig' %}
{% block head %}
{{parent()}}
{% endblock %}
  {% block nav %}
  {{parent()}}
  {% endblock %}
 {% block sidebar %}
 {{parent()}}
{% endblock %}
{% block menufooter %}
{{parent()}}
{% endblock %}
{% block topnavigation %}
{{parent()}}
{% endblock %}   
{% block content %}

        <div class="right_col" role="main">
                            <form class="formulaire" method="post">
	<div class="entete entete-min">
		<h1 class="fleft">
							Paramètres					</h1>

		<div class="call-to-action fright">
												<div class="fleft">
						<a href="https://www.montpellier-business-plan.com/espace_client/bp/delete_bp/0/9495603ac2c85ca05fba64434dd1c11c" class="demande-confirmation btn btn-md btn-danger" title="ATTENTION : La suppression est définitive, vous ne pourrez plus revenir en arrière">
							<i class="fa fa-trash-o"></i> &nbsp;Supprimer						</a>
					</div>

					<div class="fleft">
                         {{form_row (form.OK, {'attr': {'class': 'btn btn-md btn-success dont-print','value':'Valider'}}) }}
						
					</div>
									</div>

		<div class="clearer"></div>
	</div>
		   {{ form_start(form, {'attr': {'class': 'formulaire' , 'method':'post','action':'' }}) }}

	<div class="x_panel">
					<div class="form-element absolute" id="validation_mouvante">
                     {{form_row (form.OK, {'attr': {'class': 'btn btn-md btn-success dont-print','value':'Valider'}}) }}
			</div>
		
		<div class="clearer"></div>

			<div class="form-element ">
            <div class="fleft">
				<label for="nom">
					Nom <span class="rouge">*</span>
				</label>

				<div class="champ">
				{{ form_widget (form.name, {'attr': {'class': 'type-text'}}) }}

				</div>

				<div class="clearer"></div>
			</div>

			<div class="fleft aide">
				<div class="infos">

				</div>

				<div class="erreurs">
									</div>
			</div>

			<div class="clearer"></div>
		</div>

		 {{ form_widget (form.numberofyears, {'attr': {'class': 'type-text','hidden':'hidden'}}) }}
		 {{ form_widget (form.typeofbusiness, {'attr': {'class': 'type-text','hidden':'hidden'}}) }}
        {{ form_row(form._token) }}
		
		<div class="form-element ">
			<div class="fleft">
				<label for="devise">
					Devise <span class="rouge">*</span>
				</label>

				<div class="champ">
				{{ form_widget (form.currency, {'attr': {'class': 'type-text'}}) }}
				</div>

				<div class="clearer"></div>
			</div>

			<div class="fleft aide">
				<div class="infos">

				</div>

				<div class="erreurs">
									</div>
			</div>

			<div class="clearer"></div>
		</div>

		<div class="form-element  dnone ">
			<div class="fleft">
				<label for="format">
					Format <span class="rouge">*</span>
				</label>

				<div class="champ">
					<select id="format" name="format">
						<option value="FR"  selected="selected">FR</option>
						<option value="US" >US</option>
					</select>
				</div>

				<div class="clearer"></div>
			</div>

			<div class="aide">
				<div class="infos">

				</div>

				<div class="erreurs">
									</div>
			</div>

			<div class="clearer"></div>
		</div>


		<div class="form-element  margeur-b15">
			<div class="fleft">
				<label for="annee_debut">
					Année de début <span class="rouge">*</span>
				</label>

				<div class="champ">
                {{ form_widget (form.startyear, {'attr': {'class': 'type-text'}}) }}
				</div>

				<div class="clearer"></div>
			</div>

			<div class="aide">
				<div class="infos">

				</div>

				<div class="erreurs">
									</div>
			</div>

			<div class="clearer"></div>
		</div>

		<div class="form-element  margeur-b15">
			<div class="fleft">
				<label for="mois_debut">
					Mois de début <span class="rouge">*</span>
				</label>

				<div class="champ">
				{{ form_widget (form.startmonth, {'attr': {'class': 'type-text'}}) }}

				</div>

				<div class="clearer"></div>
			</div>

			<div class="aide">
				<div class="infos">

				</div>

				<div class="erreurs">
									</div>
			</div>

			<div class="clearer"></div>
		</div>

		<div class="form-element ">
			<div class="fleft">
				<label for="societe_elements_anterieurs">
					Reprendre des éléments de vos exercices antérieurs ?				</label>

				<div class="champ">
				 {{ form_widget (form.includeitems, {'attr': {'class': 'type-text'}}) }}
				</div>

				<div class="clearer"></div>
			</div>

			<div class="fleft aide">
				<div class="infos">

				</div>

				<div class="erreurs">
									</div>
			</div>

			<div class="clearer"></div>
		</div>

		<div class="form-element ">
			<div class="fleft">
				<label for="tva">
					TVA par défaut <span class="rouge">*</span>
				</label>

				<div class="champ">
                {{ form_widget (form.defaultVAT, {'attr': {'class': 'type-text'}}) }}
				</div>

				<div class="clearer"></div>
			</div>

			<div class="fleft aide">
				<div class="infos">

				</div>

				<div class="erreurs">
									</div>
			</div>

			<div class="clearer"></div>
		</div>

		<h2 class="margeur-20">Informations sur la société</h2>

		<div class="form-element ">
			<div class="fleft">
				<label for="nom_societe">
					Raison sociale				</label>

				<div class="champ">
                 {{ form_widget (form.Companyname, {'attr': {'class': 'type-text'}}) }}
				</div>

				<div class="clearer"></div>
			</div>

			<div class="fleft aide">
				<div class="infos">

				</div>

				<div class="erreurs">
									</div>
			</div>

			<div class="clearer"></div>
		</div>

	 	<table class="tableau no-highlight margeur-15">
				<tbody><tr>
					<th>
						Année	</th>

					<th>
						Type</th>
				</tr>
				{% if business.rangeofdetail >= 1 and business.rangeofdetail < business.numberofyears %}
                {% for i in 1..business.rangeofdetail %}
				<tr>
				
					<td style="background: none;">
						Année	{{i}}	</td>

					<td style="background: none;">
				Saisie détaillée</td>
				</tr>
		        {% endfor %}
				{% endif %}
				{% if business.rangeofdetail < business.numberofyears  %}
				{% for i in (business.rangeofdetail +1)..business.numberofyears %}
				<tr>
				
					<td style="background: none;">
						Année	{{i}}	</td>

					<td style="background: none;">
				Saisie Globale {% if loop.first %}(<a href="{{path('detaile')}}">Passer en Saisie detailler</a>){% endif %} </td>
				</tr>
		        {% endfor %}
				{% endif %}	
				{% if business.rangeofdetail == business.numberofyears  %}
				{% for i in 1..business.numberofyears  %}
				<tr>
				
					<td style="background: none;">
						Année	{{i}}	</td>

					<td style="background: none;">
				Saisie Globale</td>
				</tr>
				{% endfor %}
				{% endif %}
							</tbody></table>		 	

			

                    </div>
		{% endblock %}
       	{% block footer %}
{{parent()}}
{% endblock %}
 {% block comment %}
 {{parent()}} 
 {% endblock %}              
            