{% extends 'business/monbuisness.html.twig' %}
{% block head %}
	{{parent()}}
{% endblock %}
{% block nav %}
	{{parent()}}
{% endblock %}
{% block sidebar %}
	{{parent()}}
{% endblock %}
{% block menufooter %}
	{{parent()}}
{% endblock %}
{% block topnavigation %}
	{{parent()}}
{% endblock %}
{% block content %}
  <div class="right_col" role="main">
                            
{% if business.rangeofdetail < business.numberofyears  %}
{{ form_start(form) }}
{% endif %}
	<div class="entete entete-min">
		<h1 class="fleft">
			Personnel		</h1>

		<div class="call-to-action fright">
							<div class="fleft">
					<a href="{{path('staffposition')}}" title="Créer un poste" class="open-modal btn btn-md btn-primary" id="openpopupsalarie-">
						<i class="fa fa-plus-circle"></i> &nbsp;Créer un poste					</a>
				</div>

				<div class="fleft">
					<a href="#" title="" class="btn btn-md btn-primary">
						Gestion des charges liées au personnel					</a>
				</div>

					<div class="fleft">
		<a href="#" id="export-imprimer" target="_blank" class="btn btn-primary btn-md tool-tip" title="Exporter au format PDF">
			<i class="fa fa-file-pdf-o"></i> &nbsp;Exporter
		</a>
	</div>

				<div class="fleft">
					<a href="#" id="export-imprimer" target="_blank" class="btn btn-primary btn-md tool-tip" title="Exporter sous Excel">
						<i class="fa fa-file-excel-o"></i> &nbsp;Exporter
					</a>
				</div>

									<div class="fleft">
						{{ form_widget(form.submit, {'attr': {'class': 'btn btn-md btn-success dont-print','value':'Valider'}}) }}
					</div>
									</div>

		<div class="clearer"></div>
	</div>

	
	<div class="x_panel">

		<input type="hidden" name="post-salaires" value="true" />

					<div class="form-element absolute" id="validation_mouvante">
				<input type="submit" class="btn btn-lg btn-success dont-print" value="Valider" />
			</div>
		
		<table class="tableau navigate">
							<tr>
					<th colspan="13" class="titre aleft">
						<h2>
							Administration & Gestion							<a href="#" class="masquertr fs-14" id="masquertr-292732">
								<span>(-Masquer)</span>
								<span style="display:none">(+Afficher)</span>
							</a>
						</h2>
					</th>
				</tr>


			  <tr class="tr-292732">
			    <th class="w-150">Salarié</th>
					{% if business.rangeofdetail >= 1 and business.rangeofdetail < business.numberofyears %}
						{% for i in 1..business.rangeofdetail  %}
			    			    <th colspan="3">
			    
						 Année {{i}}		    				    		<br />
			    		<span class="saisie-detaillee-link">
			    			<a href="{{path('staffdetail',{'id':i -1 })}}" title="Gestion detaille">
								Saisie détaillée							</a>
							<br />
										    		</span>
			    				    </th>
						{% endfor %}
						{% endif %}
						{% if business.rangeofdetail < business.numberofyears  %}
						{% for i in (business.rangeofdetail +1)..business.numberofyears  %}
			    		<th colspan="3">
			    	      Année {{i}}	</th>
			    		{% endfor %}
                        {% endif %}
						{% if business.rangeofdetail == business.numberofyears  %}
						<th colspan="3">
                        {% for i in 1..business.numberofyears  %}
						<th> Année {{i}}
						<br/>
								<span class="saisie-detaillee-link">
									<a href="{{path('staffdetail',{'id':i -1 })}}" title="Saisie détaillée">
										Saisie détaillée
									</a>
									<br/>
						 </th>
						{% endfor %}
						{% endif %}	  
			    			    </tr>
			    <tr class="tr-292732">
			    	<td class="not-survole"></td>
			    					    	<td class="soustitre">Coût annuel (en €)</td>
				    	<td class="soustitre">Salaire brut mensuel (en €)</td>
				    	<td class="soustitre">ETP moyen</td>
				    				    	<td class="soustitre">Coût annuel (en €)</td>
				    	<td class="soustitre">Salaire brut mensuel (en €)</td>
				    	<td class="soustitre">ETP moyen</td>
				    				    	<td class="soustitre">Coût annuel (en €)</td>
				    	<td class="soustitre">Salaire brut mensuel (en €)</td>
				    	<td class="soustitre">ETP moyen</td>
				    				    	<td class="soustitre">Coût annuel (en €)</td>
				    	<td class="soustitre">Salaire brut mensuel (en €)</td>
				    	<td class="soustitre">ETP moyen</td>
				</tr>

				{% for value in keyadmin %}					
			  	<tr class="tr-292732" >
				
			  		<td class="soustitre not-survole">
			  			<a href="{{path('staffedit',{'name':value })}}" title="Modifier" class="open-modal tool-tip">
			  				{{value}} <i class="fa fa-pencil"></i>
						</a>
					</td>
			  		 {% for i in 0..rangeofdetail -1 %}	  		
			  		<td class="aright massesalariale" id="massesalariale-0-216252-292732">
			  			{{coutannuel[value][i]}}
					</td>
			  		<td class="aright">
					 {{ form_widget (form.Salairebrut[value][i], {'attr': {'type':'text','class':'type-text salairemensuel' }}) }} 
			  		
					</td>
			  		<td class="aright duplicate etpmoyen" id="etpmoyen-0-216252-292732">
			  		{{ETP[i][value]}}
					<input type="hidden" class="type-text" id="etp-216252-0" name="etp-216252-0" value="0"/>				  					  		
					</td>
			  		{% endfor %}			  		
			  		{% if business.rangeofdetail < business.numberofyears  %}
							
							{% for s in 0..rangeofglobal - 1  %}
							<td class="aright massesalariale" id="massesalariale-1-216252-292732">
			  		      	{{coutannuel[value][s + rangeofdetail]}}</td>
			  	        	<td class="aright">
			  		        {{ form_widget (form.Salairebrut[value][s + rangeofdetail], {'attr': {'type':'text','class':'type-text salairemensuel' }}) }} </td>
			  	        	<td class="aright duplicate etpmoyen" id="etpmoyen-1-216252-292732">
			  				{{ form_widget (form.Administration[value][s], {'attr': {'type':'text','class':'type-text salairemensuel' }}) }}	</td>			  						  						  		</td>
	                        {% endfor %}
						   
					{% endif %}


			  		</tr>
              
			<tr>
			  {% endfor %}
				<td class="total wrap not-survole">Total Administration & Gestion</td>

									<td colspan="2" class="total aright" id="massesalarialetotale-0-292732">
						0.00					</td>
					<td colspan="1" class="total aright" id="etptotale-0-292732">
						0.00					</td>
									<td colspan="2" class="total aright" id="massesalarialetotale-1-292732">
						0.00					</td>
					<td colspan="1" class="total aright" id="etptotale-1-292732">
						0.00					</td>
									<td colspan="2" class="total aright" id="massesalarialetotale-2-292732">
						0.00					</td>
					<td colspan="1" class="total aright" id="etptotale-2-292732">
						0.00					</td>
									<td colspan="2" class="total aright" id="massesalarialetotale-3-292732">
						0.00					</td>
					<td colspan="1" class="total aright" id="etptotale-3-292732">
						0.00					</td>
							</tr>

							<tr>
					<td colspan="13" class="not-survole">
						<a href="https://www.montpellier-business-plan.com/espace_client/salarie/modal_salarie/0/292732" title="Créer un poste" class="open-modal btn btn-md btn-primary">
							<i class="fa fa-plus-circle"></i> &nbsp;Créer un poste						</a>
					</td>
				</tr>
			
			<tr>
				<td class="separateur" colspan="13"></td>
			</tr>
						<tr>
					<th colspan="13" class="titre aleft">
						<h2>
							Production							<a href="#" class="masquertr fs-14" id="masquertr-292733">
								<span>(-Masquer)</span>
								<span style="display:none">(+Afficher)</span>
							</a>
						</h2>
					</th>
				</tr>


			  <tr class="tr-292733">
			    <th class="w-150">Salarié</th>
			    			  {% if business.rangeofdetail >= 1 and business.rangeofdetail < business.numberofyears %}
						{% for i in 1..business.rangeofdetail  %}
			    			    <th colspan="3">
			    
						 Année {{i}}		    				    		<br />
			    		<span class="saisie-detaillee-link">
			    			<a href="https://www.montpellier-business-plan.com/mon-business-plan/personnel-annee-0" title="Gestion detaille">
								Saisie détaillée							</a>
							<br />
										    		</span>
			    				    </th>
						{% endfor %}
						{% endif %}
						{% if business.rangeofdetail < business.numberofyears  %}
						{% for i in (business.rangeofdetail +1)..business.numberofyears  %}
			    		<th colspan="3">
			    	      Année {{i}}	</th>
			    		{% endfor %}
                        {% endif %}
						{% if business.rangeofdetail == business.numberofyears  %}
						<th colspan="3">
                        {% for i in 1..business.numberofyears  %}
						<th> Année {{i}}
						<br/>
								<span class="saisie-detaillee-link">
									<a href="{{path('investmentsdetail',{'id':i -1 })}}" title="Saisie détaillée">
										Saisie détaillée
									</a>
									<br/>
						 </th>
						{% endfor %}
						{% endif %}
			    			    </tr>
			    <tr class="tr-292733">
			    	<td class="not-survole"></td>
			    					    	<td class="soustitre">Coût annuel (en €)</td>
				    	<td class="soustitre">Salaire brut mensuel (en €)</td>
				    	<td class="soustitre">ETP moyen</td>
				    				    	<td class="soustitre">Coût annuel (en €)</td>
				    	<td class="soustitre">Salaire brut mensuel (en €)</td>
				    	<td class="soustitre">ETP moyen</td>
				    				    	<td class="soustitre">Coût annuel (en €)</td>
				    	<td class="soustitre">Salaire brut mensuel (en €)</td>
				    	<td class="soustitre">ETP moyen</td>
				    				    	<td class="soustitre">Coût annuel (en €)</td>
				    	<td class="soustitre">Salaire brut mensuel (en €)</td>
				    	<td class="soustitre">ETP moyen</td>
				    			    </tr>
			  	
			<tr>
				<td class="total wrap not-survole">Total Production</td>

									<td colspan="2" class="total aright" id="massesalarialetotale-0-292733">
						0.00					</td>
					<td colspan="1" class="total aright" id="etptotale-0-292733">
						0.00					</td>
									<td colspan="2" class="total aright" id="massesalarialetotale-1-292733">
						0.00					</td>
					<td colspan="1" class="total aright" id="etptotale-1-292733">
						0.00					</td>
									<td colspan="2" class="total aright" id="massesalarialetotale-2-292733">
						0.00					</td>
					<td colspan="1" class="total aright" id="etptotale-2-292733">
						0.00					</td>
									<td colspan="2" class="total aright" id="massesalarialetotale-3-292733">
						0.00					</td>
					<td colspan="1" class="total aright" id="etptotale-3-292733">
						0.00					</td>
							</tr>

							<tr>
					<td colspan="13" class="not-survole">
						<a href="https://www.montpellier-business-plan.com/espace_client/salarie/modal_salarie/0/292733" title="Créer un poste" class="open-modal btn btn-md btn-primary">
							<i class="fa fa-plus-circle"></i> &nbsp;Créer un poste						</a>
					</td>
				</tr>
			
			<tr>
				<td class="separateur" colspan="13"></td>
			</tr>
						<tr>
					<th colspan="13" class="titre aleft">
						<h2>
							Commercial							<a href="#" class="masquertr fs-14" id="masquertr-292734">
								<span>(-Masquer)</span>
								<span style="display:none">(+Afficher)</span>
							</a>
						</h2>
					</th>
				</tr>


			  <tr class="tr-292734">
			    <th class="w-150">Salarié</th>
			    			   {% if business.rangeofdetail >= 1 and business.rangeofdetail < business.numberofyears %}
						{% for i in 1..business.rangeofdetail  %}
			    			    <th colspan="3">
			    
						 Année {{i}}		    				    		<br />
			    		<span class="saisie-detaillee-link">
			    			<a href="https://www.montpellier-business-plan.com/mon-business-plan/personnel-annee-0" title="Gestion detaille">
								Saisie détaillée							</a>
							<br />
										    		</span>
			    				    </th>
						{% endfor %}
						{% endif %}
						{% if business.rangeofdetail < business.numberofyears  %}
						{% for i in (business.rangeofdetail +1)..business.numberofyears  %}
			    		<th colspan="3">
			    	      Année {{i}}	</th>
			    		{% endfor %}
                        {% endif %}
						{% if business.rangeofdetail == business.numberofyears  %}
						<th colspan="3">
                        {% for i in 1..business.numberofyears  %}
						<th> Année {{i}}
						<br/>
								<span class="saisie-detaillee-link">
									<a href="{{path('investmentsdetail',{'id':i -1 })}}" title="Saisie détaillée">
										Saisie détaillée
									</a>
									<br/>
						 </th>
						{% endfor %}
						{% endif %}
			    			    </tr>
			    <tr class="tr-292734">
			    	<td class="not-survole"></td>
			    					    	<td class="soustitre">Coût annuel (en €)</td>
				    	<td class="soustitre">Salaire brut mensuel (en €)</td>
				    	<td class="soustitre">ETP moyen</td>
				    				    	<td class="soustitre">Coût annuel (en €)</td>
				    	<td class="soustitre">Salaire brut mensuel (en €)</td>
				    	<td class="soustitre">ETP moyen</td>
				    				    	<td class="soustitre">Coût annuel (en €)</td>
				    	<td class="soustitre">Salaire brut mensuel (en €)</td>
				    	<td class="soustitre">ETP moyen</td>
				    				    	<td class="soustitre">Coût annuel (en €)</td>
				    	<td class="soustitre">Salaire brut mensuel (en €)</td>
				    	<td class="soustitre">ETP moyen</td>
				    			    </tr>
			  	
			<tr>
				<td class="total wrap not-survole">Total Commercial</td>

									<td colspan="2" class="total aright" id="massesalarialetotale-0-292734">
						0.00					</td>
					<td colspan="1" class="total aright" id="etptotale-0-292734">
						0.00					</td>
									<td colspan="2" class="total aright" id="massesalarialetotale-1-292734">
						0.00					</td>
					<td colspan="1" class="total aright" id="etptotale-1-292734">
						0.00					</td>
									<td colspan="2" class="total aright" id="massesalarialetotale-2-292734">
						0.00					</td>
					<td colspan="1" class="total aright" id="etptotale-2-292734">
						0.00					</td>
									<td colspan="2" class="total aright" id="massesalarialetotale-3-292734">
						0.00					</td>
					<td colspan="1" class="total aright" id="etptotale-3-292734">
						0.00					</td>
							</tr>

							<tr>
					<td colspan="13" class="not-survole">
						<a href="https://www.montpellier-business-plan.com/espace_client/salarie/modal_salarie/0/292734" title="Créer un poste" class="open-modal btn btn-md btn-primary">
							<i class="fa fa-plus-circle"></i> &nbsp;Créer un poste						</a>
					</td>
				</tr>
			
			<tr>
				<td class="separateur" colspan="13"></td>
			</tr>
						<tr>
					<th colspan="13" class="titre aleft">
						<h2>
							Recherche & Développement							<a href="#" class="masquertr fs-14" id="masquertr-292735">
								<span>(-Masquer)</span>
								<span style="display:none">(+Afficher)</span>
							</a>
						</h2>
					</th>
				</tr>


			  <tr class="tr-292735">
			    <th class="w-150">Salarié</th>
			    	{% if business.rangeofdetail >= 1 and business.rangeofdetail < business.numberofyears %}
						{% for i in 1..business.rangeofdetail  %}
			    			    <th colspan="3">
			    
						 Année {{i}}		    				    		<br />
			    		<span class="saisie-detaillee-link">
			    			<a href="https://www.montpellier-business-plan.com/mon-business-plan/personnel-annee-0" title="Gestion detaille">
								Saisie détaillée							</a>
							<br />
										    		</span>
			    				    </th>
						{% endfor %}
						{% endif %}
						{% if business.rangeofdetail < business.numberofyears  %}
						{% for i in (business.rangeofdetail +1)..business.numberofyears  %}
			    		<th colspan="3">
			    	      Année {{i}}	</th>
			    		{% endfor %}
                        {% endif %}
						{% if business.rangeofdetail == business.numberofyears  %}
						<th colspan="3">
                        {% for i in 1..business.numberofyears  %}
						<th> Année {{i}}
						<br/>
								<span class="saisie-detaillee-link">
									<a href="{{path('investmentsdetail',{'id':i -1 })}}" title="Saisie détaillée">
										Saisie détaillée
									</a>
									<br/>
						 </th>
						{% endfor %}
						{% endif %}
			    			    </tr>
			    <tr class="tr-292735">
			    	<td class="not-survole"></td>
			    					    	<td class="soustitre">Coût annuel (en €)</td>
				    	<td class="soustitre">Salaire brut mensuel (en €)</td>
				    	<td class="soustitre">ETP moyen</td>
				    				    	<td class="soustitre">Coût annuel (en €)</td>
				    	<td class="soustitre">Salaire brut mensuel (en €)</td>
				    	<td class="soustitre">ETP moyen</td>
				    				    	<td class="soustitre">Coût annuel (en €)</td>
				    	<td class="soustitre">Salaire brut mensuel (en €)</td>
				    	<td class="soustitre">ETP moyen</td>
				    				    	<td class="soustitre">Coût annuel (en €)</td>
				    	<td class="soustitre">Salaire brut mensuel (en €)</td>
				    	<td class="soustitre">ETP moyen</td>
				    			    </tr>
			  	
			<tr>
				<td class="total wrap not-survole">Total Recherche & Développement</td>

									<td colspan="2" class="total aright" id="massesalarialetotale-0-292735">
						0.00					</td>
					<td colspan="1" class="total aright" id="etptotale-0-292735">
						0.00					</td>
									<td colspan="2" class="total aright" id="massesalarialetotale-1-292735">
						0.00					</td>
					<td colspan="1" class="total aright" id="etptotale-1-292735">
						0.00					</td>
									<td colspan="2" class="total aright" id="massesalarialetotale-2-292735">
						0.00					</td>
					<td colspan="1" class="total aright" id="etptotale-2-292735">
						0.00					</td>
									<td colspan="2" class="total aright" id="massesalarialetotale-3-292735">
						0.00					</td>
					<td colspan="1" class="total aright" id="etptotale-3-292735">
						0.00					</td>
							</tr>

							<tr>
					<td colspan="13" class="not-survole">
						<a href="https://www.montpellier-business-plan.com/espace_client/salarie/modal_salarie/0/292735" title="Créer un poste" class="open-modal btn btn-md btn-primary">
							<i class="fa fa-plus-circle"></i> &nbsp;Créer un poste						</a>
					</td>
				</tr>
			
			<tr>
				<td class="separateur" colspan="13"></td>
			</tr>
		


		<tr>
			<td class="total not-survole">Total salaire brut </td>
			  					<td colspan="2" class="total aright" >
						0.00					</td>
					<td colspan="1" class="total aright">

					</td>
									<td colspan="2" class="total aright" >
						0.00					</td>
					<td colspan="1" class="total aright">

					</td>
									<td colspan="2" class="total aright" >
						0.00					</td>
					<td colspan="1" class="total aright">

					</td>
									<td colspan="2" class="total aright" >
						0.00					</td>
					<td colspan="1" class="total aright">

					</td>
						</tr>

		<tr>
			<td class="total not-survole">Total charges patronales </td>
			  					<td colspan="2" class="total aright">
						0.00					</td>
					<td colspan="1" class="total aright">

					</td>
									<td colspan="2" class="total aright">
						0.00					</td>
					<td colspan="1" class="total aright">

					</td>
									<td colspan="2" class="total aright">
						0.00					</td>
					<td colspan="1" class="total aright">

					</td>
									<td colspan="2" class="total aright">
						0.00					</td>
					<td colspan="1" class="total aright">

					</td>
						</tr>
		<tr>
			<td class="total not-survole">Total masse salariale chargée </td>
			  					<td colspan="2" class="total aright" id="sommemassesalarialetotale-0">
						0.00					</td>
					<td colspan="1" class="total aright" id="sommeetptotale-0">
						0.00					</td>
									<td colspan="2" class="total aright" id="sommemassesalarialetotale-1">
						0.00					</td>
					<td colspan="1" class="total aright" id="sommeetptotale-1">
						0.00					</td>
									<td colspan="2" class="total aright" id="sommemassesalarialetotale-2">
						0.00					</td>
					<td colspan="1" class="total aright" id="sommeetptotale-2">
						0.00					</td>
									<td colspan="2" class="total aright" id="sommemassesalarialetotale-3">
						0.00					</td>
					<td colspan="1" class="total aright" id="sommeetptotale-3">
						0.00					</td>
						</tr>
		</table>
	</div>
{% if business.rangeofdetail < business.numberofyears  %}
{{ form_end(form) }}
{% endif %}
                            <input type="hidden" id="id_tableau" name="id_tableau" value="10" />

<div class="bloc-commentaires margeur-50" id="notes">
	<h2 class="fleft">Notes</h2>

		<div class="fright">
		<a href="#" id="hide-notes" class="no_alert_a_sauvegarder" >
			<i class="fa fa-times-circle-o fs-20"></i>
		</a>
	</div>
	<div class="clearer"></div>

	<form action="" method="post" class="formulaire margeur-20">
		<textarea id="note" name="note" ></textarea>

				<div class="form-element">
			<input type="button" class="btn btn-lg btn-success submit-note" value="Sauvegarder la note" />
		</div>
			</form>
	</div>

<div class="bloc-commentaires margeur-50" id="commentaires">
	<div class="clearer">&nbsp;</div><div class="margeur-10"></div>
	<h2 class="fleft">Discussion</h2>
		<div class="fright">
		<a href="#" id="hide-commentaires" class="no_alert_a_sauvegarder">
			<i class="fa fa-times-circle-o fs-20"></i>
		</a>
	</div>
		<div class="clearer"></div>

	<div id="commentaires-container">
			</div>

		<form action="" method="post" class="formulaire margeur-20">
		<div class="champ">
			<input type="text" name="redacteur" id="redacteur" placeholder="Votre nom" value="" />
		</div>

		<div class="champ margeur-5">
			<textarea id="commentaire" name="commentaire" placeholder="Votre commentaire"></textarea>
		</div>

		<div class="form-element">
			<input type="button" class="btn btn-lg btn-success submit-note" value="Envoyer le commentaire" />
		</div>
	</form>
	
	<div class="margeur-10"></div>
</div>

	<div class="liens-sociaux">
		<div id="show-commentaires" class="fleft btn btn-md btn-primary tool-tip" style="margin:0px" title="Discussion">
			<i class="fa fa-comments fs-18"></i> (<span id="nb-commentaires">0</span>)
		</div>

		<div id="show-notes" class="btn btn-md btn-primary fleft tool-tip" style="margin:0px 0px 0px 10px;" title="Notes">
			<i class="fa fa-sticky-note"></i>
					</div>
	</div>
                    </div>

{% endblock %}
{% block footer %}
	{{parent()}}
{% endblock %}
{% block comment %}
	{{parent()}}
{% endblock %}