{% extends 'business/monbuisness.html.twig' %}
{% block head %}
{{parent()}}
{% endblock %}
  {% block nav %}
  {{parent()}}
  {% endblock %}
 {% block sidebar %}
 {{parent()}}
{% endblock %}
{% block menufooter %}
{{parent()}}
{% endblock %}
{% block topnavigation %}
{{parent()}}
{% endblock %}   
{% block content %}
        <!-- page content -->
        <div class="right_col" role="main">
                            <form class="formulaire" method="post" action="">
	<input type="hidden" name="post-ventes" value="true" />

	<div class="entete entete-min">
		<h1 class="fleft">
			Ventes		</h1>

		<div class="call-to-action fright">
							<div class="fleft">
					<a href="{{path('salesreceipt')}}" title="Encaissement des ventes" class="btn btn-md btn-primary dont-print">
						Encaissement des ventes					</a>
				</div>

				<div class="fleft">
					<a href="{{path('choice_type_product')}}" title="Créer un produit" class="btn btn-md btn-primary dont-print">
						<i class="fa fa-plus-circle"></i> &nbsp;Créer un produit					</a>
				</div>

					<div class="fleft">
		<a href="https://www.montpellier-business-plan.com/espace_client/bp/process_imprimer_bp?vente[]=globale" id="export-imprimer" target="_blank" class="btn btn-primary btn-md tool-tip" title="Exporter au format PDF">
			<i class="fa fa-file-pdf-o"></i> &nbsp;Exporter
		</a>
	</div>

				<div class="fleft">
					<a href="https://www.montpellier-business-plan.com/espace_client/vente/exportExcel" id="export-imprimer" target="_blank" class="btn btn-primary btn-md tool-tip" title="Exporter sous Excel">
						<i class="fa fa-file-excel-o"></i> &nbsp;Exporter
					</a>
				</div>

									
									</div>

		<div class="clearer"></div>
	</div>

	<div class="x_panel">

					<div class="form-element absolute" id="validation_mouvante">
				<input type="submit" class="btn btn-lg btn-success dont-print" value="Valider" />
			</div>
		
		<input type="hidden" id="type_affichage" value="global" />

		<table class="tableau navigate no-highlight" >

				<tr>
				<th colspan="2"></th>
            
			{% for i in 1..business.numberofyears %}
            <th>
            Année {{i}}   
            <span class="saisie-detaillee-link"> <br/>
						<a href="{{path('saleyears',{id:i -1})}}" title="Saisie détaillée">
							Saisie détaillée						</a>
						<br />
											</span>     
            </th>
            {% endfor %}
			</tr>
            {% set index = 1 %}
            {% for product in products %}
				
         	<tr>
				<td rowspan="2" class="soustitre">
					<a href="{{path('editproduct',{'id':product.id})}}" title="Modifier" class="tool-tip open-modal">
						{{product.name}} <i class="fa fa-pencil"></i>
					</a>
			  	</td>

				<td class="soustitre ">
			  		Units			  	</td>
												  	<td class="aright  dnone">
				  						  			0.00				  						  	</td>

			  									  	<td class="aright  dnone">
				  						  			0.00				  						  	</td>

			  									  	<td class="aright  dnone">
				  						  			0.00				  						  	</td>

			  									  	<td class="aright duplicate dnone">
				  							  		<input type="text" class="type-text js-unites" id="unite-257647-3" name="unite-257647-3" value="0.00"/>					  						  						  	</td>

			  									  	<td class="aright duplicate dnone">
				  							  		<input type="text" class="type-text js-unites" id="unite-257647-4" name="unite-257647-4" value="0.00"/>					  						  						  	</td>

			  									  	<td class="aright duplicate dnone">
				  							  		<input type="text" class="type-text js-unites" id="unite-257647-5" name="unite-257647-5" value="0.00"/>					  						  						  	</td>

			  									  	<td class="aright duplicate dnone">
				  							  		<input type="text" class="type-text js-unites" id="unite-257647-6" name="unite-257647-6" value="0.00"/>					  						  						  	</td>

			  									  	<td class="aright duplicate dnone">
				  							  		<input type="text" class="type-text js-unites" id="unite-257647-7" name="unite-257647-7" value="0.00"/>					  						  						  	</td>

			  									  	<td class="aright duplicate dnone">
				  							  		<input type="text" class="type-text js-unites" id="unite-257647-8" name="unite-257647-8" value="0.00"/>					  						  						  	</td>

			  									  	<td class="aright duplicate dnone">
				  							  		<input type="text" class="type-text js-unites" id="unite-257647-9" name="unite-257647-9" value="0.00"/>					  						  						  	</td>

			  				</tr>
                              <td class="soustitre">
			  		CA (en {{business.currency}})
			  	</td>
			  	{% for i in 1..business.numberofyears %}
                <td class="aright total" id="total-{{index}}-{{i}}">
					{{listofCA[i-1][product.name]}}			
                </td>
			  	{% endfor %}
				  {% set index = index + 1  %}
			</tr>
			{% endfor %}

            <tr>
				<td class="total" colspan="2">
					CA Total (en {{business.currency}})
				</td>
                
                {% for i in 0..business.numberofyears -1 %}
                <td class="aright total" id="total-{{i + 1}}">
					0.00</td>
                {% endfor %}
		
		</table>
        
	</div>
</form>
                            <input type="hidden" id="id_tableau" name="id_tableau" value="3" />

<div class="bloc-commentaires margeur-50" id="notes">
	<h2 class="fleft">Notes</h2>

		<div class="fright">
		<a href="#" id="hide-notes" class="no_alert_a_sauvegarder" >
			<i class="fa fa-times-circle-o fs-20"></i>
		</a>
	</div>
	<div class="clearer"></div>

	<form action="" method="post" class="formulaire margeur-20">
		<textarea id="note" name="note" ></textarea>

				<div class="form-element">
			<input type="button" class="btn btn-lg btn-success submit-note" value="Sauvegarder la note" />
		</div>
			</form>
	</div>

<div class="bloc-commentaires margeur-50" id="commentaires">
	<div class="clearer">&nbsp;</div><div class="margeur-10"></div>
	<h2 class="fleft">Discussion</h2>
		<div class="fright">
		<a href="#" id="hide-commentaires" class="no_alert_a_sauvegarder">
			<i class="fa fa-times-circle-o fs-20"></i>
		</a>
	</div>
		<div class="clearer"></div>

	<div id="commentaires-container">
			</div>

		<form action="" method="post" class="formulaire margeur-20">
		<div class="champ">
			<input type="text" name="redacteur" id="redacteur" placeholder="Votre nom" value="" />
		</div>

		<div class="champ margeur-5">
			<textarea id="commentaire" name="commentaire" placeholder="Votre commentaire"></textarea>
		</div>

		<div class="form-element">
			<input type="button" class="btn btn-lg btn-success submit-note" value="Envoyer le commentaire" />
		</div>
	</form>
	
	<div class="margeur-10"></div>
</div>

	<div class="liens-sociaux">
		<div id="show-commentaires" class="fleft btn btn-md btn-primary tool-tip" style="margin:0px" title="Discussion">
			<i class="fa fa-comments fs-18"></i> (<span id="nb-commentaires">0</span>)
		</div>

		<div id="show-notes" class="btn btn-md btn-primary fleft tool-tip" style="margin:0px 0px 0px 10px;" title="Notes">
			<i class="fa fa-sticky-note"></i>
					</div>
	</div>
                    </div>
        <!-- /page content -->
<script>
var nbofyear = {{business.numberofyears}} ;
var nbofproducts = {{ products|json_encode|raw}};
console.log(nbofproducts.length);
var i ;
var j ;
for (i = 1; i <= nbofyear; i++) {
 for (j =1 ; j<= nbofproducts.length ; j++){
	 
document.getElementById('total-'+i).innerHTML = parseFloat(document.getElementById('total-'+i).innerHTML) +  parseFloat(document.getElementById('total-'+j+'-'+i).innerHTML);

}}




</script>
 	{% endblock %}
       	{% block footer %}
{{parent()}}
{% endblock %}
 {% block comment %}
 {{parent()}} 
 {% endblock %} 