

{% extends 'business/monbuisness.html.twig' %}
{% block head %}
{{parent()}}
{% endblock %}
  {% block nav %}
  {{parent()}}
  {% endblock %}
 {% block sidebar %}
 {{parent()}}
{% endblock %}
{% block menufooter %}
{{parent()}}
{% endblock %}
{% block topnavigation %}
{{parent()}}
{% endblock %}   
{% block content %}
        
        <!-- page content -->
        <div class="right_col" role="main">
                            <div class="entete entete-min">
	<h1 class="dblock fleft">
		Encaissement des ventes	</h1>

			<div class="fleft margeur-l15">
				<div class="pagination-periode">
		{% for i in 1..business.numberofyears %}
        <a href="{{path('salesreceiptyear',{id:i -1})}}" class="btn btn-primary btn-md btn-success" title="Year {{i}}">
				Année {{i}}			
		</a>

        {% endfor %}
				
		

	</div>
		</div>
	
			<div class="call-to-action fright">
				<div class="fleft">
		<a href="https://www.montpellier-business-plan.com/espace_client/bp/process_imprimer_bp?encaissement[]=0" id="export-imprimer" target="_blank" class="btn btn-primary btn-md tool-tip" title="Exporter au format PDF">
			<i class="fa fa-file-pdf-o"></i> &nbsp;Exporter
		</a>
	</div>
			<div class="clearer"></div>
		</div>
		<div class="clearer"></div>
</div>

<div class="x_panel">
	<table class="tableau">
		<tr>
			<th>Encaissement des ventes en {{business.currency}} TTC</th>
								<th>Janv</th>
				   				   	<th>Fév</th>
				   				   	<th>Mars</th>
				   				   	<th>Avril</th>
				   				   	<th>Mai</th>
				   				   	<th>Juin</th>
				   				   	<th>Juil</th>
				   				   	<th>Aout</th>
				   				   	<th>Sept</th>
				   				   	<th>Oct</th>
				   				   	<th>Nov</th>
				   				   	<th>Déc</th>

				<tr>
		
			<td class="soustitre">
			Comptant
			</td>
			{% for key,ca in Cash[id] %}
				<td class="aright">
				{#ca[key]#}{{ca}}</td>
			{% endfor %} 
				</tr>
			 	 
		    
			<td class="soustitre">
				30 jours			</td>

            {% for key,ca in After30[id] %}
			<td class="aright">
					{{ca}} </td>
					
			{% endfor %}		
				<tr>
			<td class="soustitre">
				60 jours			</td>

            {% for key,ca in After60[id] %}
			<td class="aright">
					{{ca}} </td>
					
			{% endfor %}		
				<tr>
			<td class="soustitre">
				90 jours			</td>

            {% for key,ca in After90[id] %}
			<td class="aright">
					{{ca}} </td>
					
			{% endfor %}		
				<tr>
			<td class="soustitre">
				120 jours			</td>

            {% for key,ca in After120[id] %}
			<td class="aright">
					{{ca}} </td>
					
			{% endfor %}		
				<tr>
			<td class="soustitre">
				Revenus associés			</td>
            {% for rev in finalrevenue[id] %}
							<td class="aright">
					{{rev}}				</td>
							{% endfor %}
					</tr>

		<tr>
			<td class="soustitre">
				Dont TVA			</td>
                   {% for d in TVA[id] %}
							<td class="aright">
							{{d}}		</td>
					{% endfor %}
					</tr>

		<tr>
			<td class="total">
				Total encaissé			</td>
                {% for t in total[id] %}
				<td class="total aright">
					{{t}}				</td>
				{% endfor %}
					</tr>
	</table>
</div>
                    </div>
        <!-- /page content -->

{% endblock %}
{% block footer %}
{{parent()}}
{% endblock %}
 {% block comment %}
 {{parent()}} 
 {% endblock %}     