
{% extends 'business/monbuisness.html.twig' %}
{% block head %}
{{parent()}}
{% endblock %}
  {% block nav %}
  {{parent()}}
  {% endblock %}
 {% block sidebar %}
 {{parent()}}
{% endblock %}
{% block menufooter %}
{{parent()}}
{% endblock %}
{% block topnavigation %}
{{parent()}}
{% endblock %}   
{% block content %}
        
        <!-- page content -->
        <div class="right_col" role="main">
                            <div class="entete entete-min">
	<h1 class="dblock fleft">
		Encaissement des ventes	</h1>
			<div class="call-to-action fright">
				<div class="fleft">
		<a href="https://www.montpellier-business-plan.com/espace_client/bp/process_imprimer_bp?encaissement[]=globale" id="export-imprimer" target="_blank" class="btn btn-primary btn-md tool-tip" title="Exporter au format PDF">
			<i class="fa fa-file-pdf-o"></i> &nbsp;Exporter
		</a>
	</div>
			<div class="clearer"></div>
		</div>
		<div class="clearer"></div>
</div>

<div class="x_panel">
	<table class="tableau">
		<tr>
       
			<th>Encaissement des ventes (en {{business.currency}} TTC)</th>
            {% for i in 1..business.numberofyears %}
            <th>
            Année  {{i}} <br />
				<span class="saisie-detaillee-link">
					<a href="{{path('salesreceiptyear',{id:i -1})}}" title="Detailed entry">
						Saisie détaillée					</a>
				</span>

			</th>
            {% endfor %}
		<tr>
			<td class="total">Total</td>
            {% for i in 1..business.numberofyears %}
               <td class="total aright">
				{{receipt[i -1]}} </td>
			{%  endfor %}	
					</tr>
	</table>
</div>
                    </div>
        <!-- /page content -->
		{% endblock %}
       	{% block footer %}
{{parent()}}
{% endblock %}
 {% block comment %}
 {{parent()}} 
 {% endblock %}      
