{% extends 'business/monbuisness.html.twig' %}
{% block head %}
{{parent()}}
{% endblock %}
  {% block nav %}
  {{parent()}}
  {% endblock %}
 {% block sidebar %}
 {{parent()}}
{% endblock %}
{% block menufooter %}
{{parent()}}
{% endblock %}
{% block topnavigation %}
{{parent()}}
{% endblock %}   
{% block content %}

<div class="right_col" role="main">
                            
<div class="entete entete-min">
	<h1 class="fleft">
		Cash Flow
	</h1>

	<div class="call-to-action fright">
					<div class="fleft">
				<a href="#" title="Éléments antérieurs" class="btn btn-md btn-primary">
					Éléments antérieurs				</a>
			</div>

				<div class="fleft">
		<a href="#" id="export-imprimer" target="_blank" class="btn btn-primary btn-md tool-tip" title="Exporter au format PDF">
			<i class="fa fa-file-pdf-o"></i> &nbsp;Exporter
		</a>
	</div>
			</div>

	<div class="clearer"></div>
</div>

<div class="x_panel">
	<table class="tableau">
		<tr>
			<th></th>
						<th>Année 1									<br />
					<span class="saisie-detaillee-link">
						<a href="#" title="Saisie détaillée">
							Saisie détaillée						</a>
					</span>
							</th>
						<th>Année 2									<br />
					<span class="saisie-detaillee-link">
						<a href="#" title="Saisie détaillée">
							Saisie détaillée						</a>
					</span>
							</th>
						<th>Année 3									<br />
					<span class="saisie-detaillee-link">
						<a href="#" title="Saisie détaillée">
							Saisie détaillée						</a>
					</span>
							</th>
						<th>Année 4							</th>
						<th>Année 5							</th>
					</tr>

		<tr>
			<td class="soustitre">Income before taxation</td>
						<td class="aright">160.00</td>
						<td class="aright">-40.00</td>
						<td class="aright">-60.00</td>
						<td class="aright">-60.00</td>
						<td class="aright">-60.00</td>
					</tr>

		<tr class="bold">
			<td class="soustitre">+Depreciation</td>
						<td class="aright">20.00</td>
						<td class="aright">60.00</td>
						<td class="aright">60.00</td>
						<td class="aright">60.00</td>
						<td class="aright">60.00</td>
					</tr>
		<tr>
			<td class="soustitre">-Investments</td>
						<td class="aright">300.00</td>
						<td class="aright">0.00</td>
						<td class="aright">0.00</td>
						<td class="aright">0.00</td>
						<td class="aright">0.00</td>
					</tr>
		<tr>
			<td class="soustitre">+/-Working capital req. Change</td>
						<td class="aright">-164.00</td>
						<td class="aright">124.00</td>
						<td class="aright">0.00</td>
						<td class="aright">0.00</td>
						<td class="aright">0.00</td>
					</tr>
		<tr>
			<td class="soustitre">+Capital</td>
						<td class="aright">0.00</td>
						<td class="aright">0.00</td>
						<td class="aright">0.00</td>
						<td class="aright">0.00</td>
						<td class="aright">0.00</td>
					</tr>
		<tr>
			<td class="soustitre">+Current accounts</td>
						<td class="aright">0.00</td>
						<td class="aright">0.00</td>
						<td class="aright">0.00</td>
						<td class="aright">0.00</td>
						<td class="aright">0.00</td>
					</tr>
		<tr class="bold">
			<td class="soustitre">+Subsidies</td>
						<td class="aright">0.00</td>
						<td class="aright">0.00</td>
						<td class="aright">0.00</td>
						<td class="aright">0.00</td>
						<td class="aright">0.00</td>
					</tr>
		<tr class="bold">
			<td class="soustitre">+Refundable advances	</td>
						<td class="aright">0.00</td>
						<td class="aright">0.00</td>
						<td class="aright">0.00</td>
						<td class="aright">0.00</td>
						<td class="aright">0.00</td>
					</tr>
		<tr class="bold">
			<td class="soustitre">+loans</td>
						<td class="aright">0.00</td>
						<td class="aright">0.00</td>
						<td class="aright">0.00</td>
						<td class="aright">0.00</td>
						<td class="aright">0.00</td>
					</tr>
		<tr>
			<td class="soustitre">-loan repayments</td>
						<td class="aright">0.00</td>
						<td class="aright">0.00</td>
						<td class="aright">0.00</td>
						<td class="aright">0.00</td>
						<td class="aright">0.00</td>
					</tr>
		<tr>
			<td class="soustitre">+/-Misc(dividends,  …)</td>
						<td class="aright"> 0.00</td>
						<td class="aright"> 0.00</td>
						<td class="aright"> 0.00</td>
						<td class="aright"> 0.00</td>
						<td class="aright"> 0.00</td>
					</tr>
		<tr>
			<td class="soustitre">Cash Flow</td>
						<td class="aright">-284.00</td>
						<td class="aright">144.00</td>
						<td class="aright">0.00</td>
						<td class="aright">0.00</td>
						<td class="aright">0.00</td>
					</tr>
		<!--  <tr>
			<td class="soustitre">Cash Flow over 1 year</td>
						<td class="aright">0.00</td>
						<td class="aright">0.00</td>
						<td class="aright">0.00</td>
						<td class="aright">0.00</td>
						<td class="aright">0.00</td>
					</tr> -->
		<tr>
			<td class="soustitre">Opening Cash Balance </td>
						<td class="aright">0.00</td>
						<td class="aright">-284.00</td>
						<td class="aright">-140.00</td>
						<td class="aright">-140.00</td>
						<td class="aright">-140.00</td>
					</tr>
		<tr class="bold">
			<td class="soustitre">Increase / decrease in Cash</td>
						<td class="aright">-284.00</td>
						<td class="aright">144.00</td>
						<td class="aright">0.00</td>
						<td class="aright">0.00</td>
						<td class="aright">0.00</td>
					</tr>
		<tr>
			<td class="soustitre">Closing Cash Balance</td>
						<td class="aright">-284.00</td>
						<td class="aright">-140.00</td>
						<td class="aright">-140.00</td>
						<td class="aright">-140.00</td>
						<td class="aright">-140.00</td>
					</tr>
	</table>
</div>
                            <input type="hidden" id="id_tableau" name="id_tableau" value="31" />

<div class="bloc-commentaires margeur-50" id="notes">
	<h2 class="fleft">Notes</h2>

		<div class="fright">
		<a href="#" id="hide-notes" class="no_alert_a_sauvegarder" >
			<i class="fa fa-times-circle-o fs-20"></i>
		</a>
	</div>
	<div class="clearer"></div>

	<form action="" method="post" class="formulaire margeur-20">
		<textarea id="note" name="note" ></textarea>

				<div class="form-element">
			<input type="button" class="btn btn-lg btn-success submit-note" value="Sauvegarder la note" />
		</div>
			</form>
	</div>

<div class="bloc-commentaires margeur-50" id="commentaires">
	<div class="clearer">&nbsp;</div><div class="margeur-10"></div>
	<h2 class="fleft">Discussion</h2>
		<div class="fright">
		<a href="#" id="hide-commentaires" class="no_alert_a_sauvegarder">
			<i class="fa fa-times-circle-o fs-20"></i>
		</a>
	</div>
		<div class="clearer"></div>

	<div id="commentaires-container">
			</div>

		<form action="" method="post" class="formulaire margeur-20">
		<div class="champ">
			<input type="text" name="redacteur" id="redacteur" placeholder="Votre nom" value="" />
		</div>

		<div class="champ margeur-5">
			<textarea id="commentaire" name="commentaire" placeholder="Votre commentaire"></textarea>
		</div>

		<div class="form-element">
			<input type="button" class="btn btn-lg btn-success submit-note" value="Envoyer le commentaire" />
		</div>
	</form>
	
	<div class="margeur-10"></div>
</div>

	<div class="liens-sociaux">
		<div id="show-commentaires" class="fleft btn btn-md btn-primary tool-tip" style="margin:0px" title="Discussion">
			<i class="fa fa-comments fs-18"></i> (<span id="nb-commentaires">0</span>)
		</div>

		<div id="show-notes" class="btn btn-md btn-primary fleft tool-tip" style="margin:0px 0px 0px 10px;" title="Notes">
			<i class="fa fa-sticky-note"></i>
					</div>
	</div>
                    </div>

{% endblock %}
{% block footer %}
{{parent()}}
{% endblock %}
{% block comment %}
{{parent()}} 
{% endblock %}
