

{% extends 'business/monbuisness.html.twig' %}
{% block head %}
{{parent()}}
{% endblock %}
  {% block nav %}
  {{parent()}}
  {% endblock %}
 {% block sidebar %}
 {{parent()}}
{% endblock %}
{% block menufooter %}
{{parent()}}
{% endblock %}
{% block topnavigation %}
{{parent()}}
{% endblock %}   
{% block content %}
        <!-- page content -->
        <div class="right_col" role="main">
                            <div class="entete entete-min">
	<h1 class="fleft">
		Couts d’achat sur Ventes	</h1>

	<div class="call-to-action fright">
					<div class="fleft">
				<a href="{{path('purchasedisbursement',{id:0})}}" title="Purchase disbursements" class="btn btn-md btn-primary">
					Décaissements des achats				</a>
			</div>

			<div class="fleft">
				<a href="https://www.montpellier-business-plan.com/mon-business-plan/approvisionnement-annee-0" title="Supply" class="btn btn-md btn-primary">
					Approvisionnement				</a>
			</div>

				<div class="fleft">
		<a href="{{path('purchase-pdf')}}" id="export-imprimer" target="_blank" class="btn btn-primary btn-md tool-tip" title="Exporter au format PDF">
			<i class="fa fa-file-pdf-o"></i> &nbsp;Exporter
		</a>
	</div>

			<div class="fleft">
				<a href="https://www.montpellier-business-plan.com/espace_client/achat/exportExcel" id="export-imprimer" target="_blank" class="btn btn-primary btn-md tool-tip" title="Exporter sous Excel">
					<i class="fa fa-file-excel-o"></i> &nbsp;Exporter
				</a>
			</div>

			</div>

	<div class="clearer"></div>
</div>

<div class="x_panel">
	<table class="tableau no-highlight">
    
		<tr>
			<th colspan="2"></th>
            {% for i in 1..business.numberofyears %}
						<th>
				Année  {{i}}								<br />
				<span class="saisie-detaillee-link">
					<a href="{{path('purchasedet',{id:i -1})}}" title="Detailed entry">
						Saisie détaillée					</a>
				</span>
							</th>
						 {% endfor %}

			<tr>
            {% for product in products %}
			<td rowspan="1" class="soustitre">
				<a href="{{path('editproduct',{'id':product.id})}}" title="Modify" class="tool-tip open-modal">
					{{product.name}} <i class="fa fa-pencil" ></i>
				</a>
		  	</td>   
            
		  				  	<td class="soustitre">
			  		Coût d'achat des ventes (en {{business.currency}})
			  	</td>
                                   {% for i in Somme[product.name] %} 
			  				  		<td class="aright">
				 		{{i}}</td>{% endfor %}
                         <tr>
			{% endfor %}
		<tr>
			<td class="total" colspan="2">
				Coûts d'achats total (en {{business.currency}})
			</td>
       {% for x in total %}
						<td class="total aright">
				{{x}}			</td>
			  {% endfor %}			
						
					</tr>
	</table>
</div>
                            <input type="hidden" id="id_tableau" name="id_tableau" value="6" />

<div class="bloc-commentaires margeur-50" id="notes">
	<h2 class="fleft">Notes</h2>

		<div class="fright">
		<a href="#" id="hide-notes" class="no_alert_a_sauvegarder" >
			<i class="fa fa-times-circle-o fs-20"></i>
		</a>
	</div>
	<div class="clearer"></div>

	<form action="" method="post" class="formulaire margeur-20">
		<textarea id="note" name="note" ></textarea>

				<div class="form-element">
			<input type="button" class="btn btn-lg btn-success submit-note" value="Save note" />
		</div>
			</form>
	</div>

<div class="bloc-commentaires margeur-50" id="commentaires">
	<div class="clearer">&nbsp;</div><div class="margeur-10"></div>
	<h2 class="fleft">Discussion</h2>
		<div class="fright">
		<a href="#" id="hide-commentaires" class="no_alert_a_sauvegarder">
			<i class="fa fa-times-circle-o fs-20"></i>
		</a>
	</div>
		<div class="clearer"></div>

	<div id="commentaires-container">
			</div>

		<form action="" method="post" class="formulaire margeur-20">
		<div class="champ">
			<input type="text" name="redacteur" id="redacteur" placeholder="Your name" value="" />
		</div>

		<div class="champ margeur-5">
			<textarea id="commentaire" name="commentaire" placeholder="Your comments"></textarea>
		</div>

		<div class="form-element">
			<input type="button" class="btn btn-lg btn-success submit-note" value="Send comments" />
		</div>
	</form>
	
	<div class="margeur-10"></div>
</div>

	<div class="liens-sociaux">
		<div id="show-commentaires" class="fleft btn btn-md btn-primary tool-tip" style="margin:0px" title="Discussion">
			<i class="fa fa-comments fs-18"></i> (<span id="nb-commentaires">0</span>)
		</div>

		<div id="show-notes" class="btn btn-md btn-primary fleft tool-tip" style="margin:0px 0px 0px 10px;" title="Notes">
			<i class="fa fa-sticky-note"></i>
					</div>
	</div>
                    </div>
        <!-- /page content -->
{% endblock %}
{% block footer %}
{{parent()}}
{% endblock %}
 {% block comment %}
 {{parent()}} 
 {% endblock %}   