

{% block title %}{% endblock %}
{% block head %}

    <link rel="stylesheet" href="{{ base_dir ~ asset('css/bootstrap.css') }}">      					
    <link href="{{ base_dir ~ asset('css/styles.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ base_dir ~ asset('css/print.css') }}" rel="stylesheet" type="text/css" media="print" />
<link href="{{ base_dir ~ asset('css/reset.css') }}" rel="stylesheet" type="text/css" />
                            <link href="{{ base_dir ~ asset('css/generic.css') }}" rel="stylesheet" type="text/css" />
                            <link href="{{ base_dir ~ asset('css/jquery-ui-1.9.0.custom.min.css') }}" rel="stylesheet" type="text/css" />
                            <link href="{{ base_dir ~ asset('css/jquery.gritter.css')}}" rel="stylesheet" type="text/css" />
                            <link href="{{ base_dir ~ asset('css/jquery.lightbox-0.5.css')}}" rel="stylesheet" type="text/css" />
                            <link href="{{ base_dir ~ asset('css/jquery.jqzoom.css')}}" rel="stylesheet" type="text/css" />
                            <link href="{{ base_dir ~ asset('css/buttons.css')}}" rel="stylesheet" type="text/css" />
                            <link href="{{ base_dir ~ asset('css/breadcrumbs.css')}}" rel="stylesheet" type="text/css" />
                            <link href="{{ base_dir ~ asset('css/alertify.core.css')}}" rel="stylesheet" type="text/css" />
                            <link href="{{ base_dir ~ asset('css/alertify.default.css')}}" rel="stylesheet" type="text/css" />
                            <link href="{{ base_dir ~ asset('css/font-awesome.min.css')}}" rel="stylesheet" type="text/css" />
                            <link href="{{ base_dir ~ asset('css/modal.css')}}" rel="stylesheet" type="text/css" />
                            <link href="{{ base_dir ~ asset('css/styles.css')}}" rel="stylesheet" type="text/css" />
                            <link href="{{ base_dir ~ asset('css/dashboard.css')}}" rel="stylesheet" type="text/css" />
                            <link href="{{ base_dir ~ asset('css/dashboard-2.css')}}" rel="stylesheet" type="text/css" />
                               
            
   <style>
body {background-color: white;}

</style>
{% endblock %}
{% block content %}
<img src="{{ base_dir ~ asset('images/logo-white.png')}}" alt="Dotit" >
<h1>{{business.name}}</h1>
<br>
<h2>Couts d’achat sur Ventes</h2>
<div class="x_panel">
	<table class="tableau no-highlight">
    
		<tr>
			<th colspan="2"></th>
            {% for i in 1..business.numberofyears %}
						<th>
				Année {{i}}								<br />
			
							</th>
						 {% endfor %}

			<tr>
            {% for product in products %}
			<td rowspan="1" class="soustitre">
				<a title="Modify" class="tool-tip open-modal">
					{{product.name}} 
				</a>
		  	</td>   
            
		  				  	<td class="soustitre">
			  		Coût d'achat des ventes (en {{business.currency}})
			  	</td>
                                   {% for i in Somme[product.name] %} 
			  				  		<td class="aright">
				 		{{i}}</td>{% endfor %}
                         <tr>
			{% endfor %}
		<tr>
			<td class="total" colspan="2">
				Coûts d'achats total (en {{business.currency}})
			</td>
       {% for x in total %}
						<td class="total aright">
				{{x}}			</td>
			  {% endfor %}			
						
					</tr>
	</table>
</div>
   <footer>
              <div class="pull-left">
                  &copy; 111-factory 2020                  -
                  <a title="" >End-User Licence Agreement </a>
                  -
                  <a title="" >Legal</a>
                  -
                  <a title="" >Credits</a>
              </div>
              <div class="clearfix"></div>
            </footer>     
{% endblock %}