{% extends 'business/monbuisness.html.twig' %}
{% block head %}
	{{parent()}}
{% endblock %}
{% block nav %}
	{{parent()}}
{% endblock %}
{% block sidebar %}
	{{parent()}}
{% endblock %}
{% block menufooter %}
	{{parent()}}
{% endblock %}
{% block topnavigation %}
	{{parent()}}
{% endblock %}
{% block content %}

 <div class="right_col" role="main">
                            
{{form_start(form)}}
	<div class="entete entete-min">
		<h1 class="fleft">
			Compte de résultat		</h1>

		<div class="call-to-action fright">
								<div class="fleft">
		<a href="" id="export-imprimer" target="_blank" class="btn btn-primary btn-md tool-tip" title="Exporter au format PDF">
			<i class="fa fa-file-pdf-o"></i> &nbsp;Exporter
		</a>
	</div>

				<div class="fleft">
					<a href="" id="export-imprimer" target="_blank" class="btn btn-primary btn-md tool-tip" title="Exporter sous Excel">
						<i class="fa fa-file-excel-o"></i> &nbsp;Exporter
					</a>
				</div>


									<div class="fleft">
                                     {{ form_widget(form.submit, {'attr': {'class': 'btn btn-md btn-success dont-print','value':'Valider'}}) }}
						
					</div>
									</div>

		<div class="clearer"></div>
	</div>

	<div class="x_panel">

					<div class="form-element absolute" id="validation_mouvante">
				<input type="submit" class="btn btn-lg btn-success dont-print" value="Valider" />
			</div>
		
		<div class="clearer"></div>

		<table class="tableau">
			<tr>
				<th></th>
								<th>Année 1</th>
								<th>Année 2</th>
								<th>Année 3</th>
								<th>Année 4</th>
							</tr>

			<tr>
				<td class="soustitre">Chiffre d'affaire total</td>
                {% for i in 0..business.numberofyears - 1 %}
								<td class="aright">{{totalCA[i]}}</td>
                {% endfor %}
							</tr>
			<tr>
				<td class="soustitre">R&D (production immobilisée)</td>

				 {% for i in form.RD %}
					<td class="aright">
					{{ form_widget (i, {'attr': {'type':'text','class':'type-text ' }}) }}
                     </td>
                {% endfor %}

				

							</tr>

			<tr>
				<td class="total">Marge commerciale</td>
                {% for i in 0..business.numberofyears - 1 %}
								<td class="aright total">{{margecommercial[i]}}</td>
                {% endfor %}
							</tr>

			<tr>
				<td class="total">Total produits</td>
								<td class="aright total">0.00</td>
								<td class="aright total">0.00</td>
								<td class="aright total">0.00</td>
								<td class="aright total">0.00</td>
							</tr>

			<tr>
				<td class="soustitre">Total achats consommés</td>
								<td class="aright">0.00</td>
								<td class="aright">0.00</td>
								<td class="aright">0.00</td>
								<td class="aright">0.00</td>
							</tr>

			<tr>
				<td class="soustitre">Total autres achats et charges externes</td>
								<td class="aright">0.00</td>
								<td class="aright">0.00</td>
								<td class="aright">0.00</td>
								<td class="aright">0.00</td>
							</tr>

			<tr>
				<td class="total">Total consommations intermédiaires</td>
								<td class="aright total">0.00</td>
								<td class="aright total">0.00</td>
								<td class="aright total">0.00</td>
								<td class="aright total">0.00</td>
							</tr>

			<tr>
				<td class="total">Valeur ajoutée</td>
								<td class="aright total">0.00</td>
								<td class="aright total">0.00</td>
								<td class="aright total">0.00</td>
								<td class="aright total">0.00</td>
							</tr>

			<tr>
				<td class="soustitre">Valeur ajoutée / Total produits</td>
								<td class="aright">0.00 %</td>
								<td class="aright">0.00 %</td>
								<td class="aright">0.00 %</td>
								<td class="aright">0.00 %</td>
							</tr>


			<tr>
				<td class="soustitre">Personnel</td>
								<td class="aright">0.00</td>
								<td class="aright">0.00</td>
								<td class="aright">0.00</td>
								<td class="aright">0.00</td>
							</tr>

			<tr>
				<td class="soustitre">Impôts et taxes</td>
									<td class="aright">0.00</td>
									<td class="aright">0.00</td>
									<td class="aright">0.00</td>
									<td class="aright">0.00</td>
				
			</tr>

			<tr>
				<td class="total">EBE</td>
								<td class="aright total">0.00</td>
								<td class="aright total">0.00</td>
								<td class="aright total">0.00</td>
								<td class="aright total">0.00</td>
							</tr>

			<tr>
				<td class="soustitre">Frais financiers : sur emprunts</td>
								<td class="aright">0.00</td>
								<td class="aright">0.00</td>
								<td class="aright">0.00</td>
								<td class="aright">0.00</td>
							</tr>

			<tr>
				<td class="soustitre">Dotation aux amortissements</td>
								<td class="aright">170.00</td>
								<td class="aright">260.00</td>
								<td class="aright">280.00</td>
								<td class="aright">280.00</td>
							</tr>

			<tr>
				<td class="total">Résultats avant impôts</td>
								<td class="aright total">-170.00</td>
								<td class="aright total">-260.00</td>
								<td class="aright total">-280.00</td>
								<td class="aright total">-280.00</td>
							</tr>

			<tr>
				<td class="soustitre">Taux de l'impôt sur les sociétés</td>
				
				 {% for i in form.tauximpot %}
					<td class="aright">
					{{ form_widget (i, {'attr': {'type':'text','class':'type-text ' }}) }}
                     </td>
                {% endfor %}
				
				
							</tr>

			<tr>
				<td class="soustitre">Impôt sur les Sociétés</td>
				
				<td class="aright">
					0.00									</td>

				
				<td class="aright">
					0.00									</td>

				
				<td class="aright">
					0.00									</td>

				
				<td class="aright">
					0.00									</td>

							</tr>

			<tr>
				<td class="soustitre">Crédit impôt (Recherche, etc.) &nbsp;<i class="fs-18 fa fa-question-circle tool-tip cpointer" title="Les décaissements et encaissements lies à l’IS et aux Crédits d’Impôts sont renseignés dans le tableau spécifique Impôt sur les Sociétés.
"></i></td>
				{% for i in form.creditimpot %}
				<td class="aright">
                {{ form_widget (i, {'attr': {'type':'text','class':'type-text tool-tip' , 'title':'Les décaissements et encaissements lies à l’IS et aux Crédits d’Impôts sont renseignés dans le tableau spécifique Impôt sur les Sociétés.' }}) }}
			
               </td>
				{% endfor %}
				
							</tr>

			<tr>
				<td class="total">Résultat après impôts</td>
									<td class="aright total">-170.00</td>
									<td class="aright total">-260.00</td>
									<td class="aright total">-280.00</td>
									<td class="aright total">-280.00</td>
							</tr>

			<tr>
				<td class="soustitre">Autofinancement</td>
								<td class="aright">0.00</td>
								<td class="aright">0.00</td>
								<td class="aright">0.00</td>
								<td class="aright">0.00</td>
							</tr>

			<tr>
				<td class="total">Seuil rentabilité</td>
								<td class="aright total">0.00</td>
								<td class="aright total">0.00</td>
								<td class="aright total">0.00</td>
								<td class="aright total">0.00</td>
							</tr>

			<tr>
				<td class="total">Point mort</td>
								<td class="aright total">0.00</td>
								<td class="aright total">0.00</td>
								<td class="aright total">0.00</td>
								<td class="aright total">0.00</td>
							</tr>

			<tr>
				<td class="total">Panier moyen</td>
								<td class="aright total">0.00</td>
								<td class="aright total">0.00</td>
								<td class="aright total">0.00</td>
								<td class="aright total">0.00</td>
							</tr>
		</table>
	</div>
{{form_end(form)}}
                            <input type="hidden" id="id_tableau" name="id_tableau" value="23" />

<div class="bloc-commentaires margeur-50" id="notes">
	<h2 class="fleft">Notes</h2>

		<div class="fright">
		<a href="#" id="hide-notes" class="no_alert_a_sauvegarder" >
			<i class="fa fa-times-circle-o fs-20"></i>
		</a>
	</div>
	<div class="clearer"></div>

	<form action="" method="post" class="formulaire margeur-20">
		<textarea id="note" name="note" ></textarea>

				<div class="form-element">
           

			<input type="button" class="btn btn-lg btn-success submit-note" value="Sauvegarder la note" />
		</div>
			</form>
	</div>

<div class="bloc-commentaires margeur-50" id="commentaires">
	<div class="clearer">&nbsp;</div><div class="margeur-10"></div>
	<h2 class="fleft">Discussion</h2>
		<div class="fright">
		<a href="#" id="hide-commentaires" class="no_alert_a_sauvegarder">
			<i class="fa fa-times-circle-o fs-20"></i>
		</a>
	</div>
		<div class="clearer"></div>

	<div id="commentaires-container">
			</div>

		<form action="" method="post" class="formulaire margeur-20">
		<div class="champ">
			<input type="text" name="redacteur" id="redacteur" placeholder="Votre nom" value="" />
		</div>

		<div class="champ margeur-5">
			<textarea id="commentaire" name="commentaire" placeholder="Votre commentaire"></textarea>
		</div>

		<div class="form-element">
			<input type="button" class="btn btn-lg btn-success submit-note" value="Envoyer le commentaire" />
		</div>
	</form>
	
	<div class="margeur-10"></div>
</div>

	<div class="liens-sociaux">
		<div id="show-commentaires" class="fleft btn btn-md btn-primary tool-tip" style="margin:0px" title="Discussion">
			<i class="fa fa-comments fs-18"></i> (<span id="nb-commentaires">0</span>)
		</div>

		<div id="show-notes" class="btn btn-md btn-primary fleft tool-tip" style="margin:0px 0px 0px 10px;" title="Notes">
			<i class="fa fa-sticky-note"></i>
					</div>
	</div>
                    </div>


{% endblock %}
{% block footer %}
	{{parent()}}
{% endblock %}
{% block comment %}
	{{parent()}}
{% endblock %}

