{% extends 'business/monbuisness.html.twig' %}
{% block head %}
{{parent()}}
{% endblock %}
  {% block nav %}
  {{parent()}}
  {% endblock %}
 {% block sidebar %}
 {{parent()}}
{% endblock %}
{% block menufooter %}
{{parent()}}
{% endblock %}
{% block topnavigation %}
{{parent()}}
{% endblock %}   
{% block content %}

 <div class="right_col" role="main">
                            
<form class="formulaire" method="post" action="">
	<div class="entete entete-min">
		<h1 class="fleft">
			Trésorerie		</h1>

					<div class="fleft margeur-l15">
					<div class="pagination-periode">
		
					<a href="https://www.montpellier-business-plan.com/mon-business-plan/tresorerie-annee-0" class="btn btn-primary btn-md btn-success" title="Année 1">
				Année 1			</a>
					<a href="https://www.montpellier-business-plan.com/mon-business-plan/tresorerie-annee-1" class="btn btn-primary btn-md " title="Année 2">
				Année 2			</a>
					<a href="https://www.montpellier-business-plan.com/mon-business-plan/tresorerie-annee-2" class="btn btn-primary btn-md " title="Année 3">
				Année 3			</a>
		
				<!--<a href="https://www.montpellier-business-plan.com/mon-business-plan/tresorerie-annee-1" class="btn btn-md">
			&raquo;
		</a>-->
		

	</div>
			</div>
		
		<div class="call-to-action fright">
							<div class="fleft">
					<a href="https://www.montpellier-business-plan.com/mon-business-plan/elements-anterieurs" title="Éléments antérieurs" class="btn btn-primary btn-md">
						<i class="fa fa-clock-o"></i> &nbsp;Éléments antérieurs					</a>
				</div>

					<div class="fleft">
		<a href="https://www.montpellier-business-plan.com/espace_client/bp/process_imprimer_bp?tresorerie[]=0" id="export-imprimer" target="_blank" class="btn btn-primary btn-md tool-tip" title="Exporter au format PDF">
			<i class="fa fa-file-pdf-o"></i> &nbsp;Exporter
		</a>
	</div>

				<div class="fleft">
					<a href="https://www.montpellier-business-plan.com/espace_client/tresorerie/exportExcel/0" id="export-imprimer" target="_blank" class="btn btn-primary btn-md tool-tip" title="Exporter sous Excel">
						<i class="fa fa-file-excel-o"></i> &nbsp;Exporter
					</a>
				</div>

									<div class="fleft">
						<input type="submit" class="btn btn-md btn-success dont-print" value="Valider" />
					</div>
									</div>

		<div class="clearer"></div>
	</div>

	<div class="x_panel">

					<div class="fleft select-stock margeur-l20">
				<div>
					Votre politique de décaissement de TVA :
				</div>

				<div>
											<a href="https://www.montpellier-business-plan.com/espace_client/parametres/politique_decaissement_tva/trimestrielles/treso">
							Trimestriel						</a>
									</div>

				<div>
											<span class="btn btn-primary">Mensuel</span>
									</div>

				<div class="clearer"></div>
			</div>

			<div class="form-element" id="validation_mouvante">
				<input type="submit" class="btn btn-success btn-lg dont-print" value="Valider" />
			</div>
		
		<div class="clearer"></div>

		<div class="clearer"></div>

		<table class="tableau navigate margeur-20">
											    <tr>
						<th>Année 1</th>

													<th>Janv</th>
													<th>Fév</th>
													<th>Mars</th>
													<th>Avril</th>
													<th>Mai</th>
													<th>Juin</th>
													<th>Juil</th>
													<th>Aout</th>
													<th>Sept</th>
													<th>Oct</th>
													<th>Nov</th>
													<th>Déc</th>
											</tr>

					<tr>
						<td class="total">Trésorerie initiale &nbsp;<i class="fs-18 fa fa-question-circle tool-tip cpointer" title="Pour les entreprises déjà créées, la trésorerie initiale  au démarrage du BP doit être saisie dans la rubrique éléments antérieurs. 
"></i></td>

													<td class="total aright tresorerie-initiale" id="tresorerie-initiale-0">
								0.00							</td>
													<td class="total aright tresorerie-initiale" id="tresorerie-initiale-1">
								-408.00							</td>
													<td class="total aright tresorerie-initiale" id="tresorerie-initiale-2">
								-144.00							</td>
													<td class="total aright tresorerie-initiale" id="tresorerie-initiale-3">
								-120.00							</td>
													<td class="total aright tresorerie-initiale" id="tresorerie-initiale-4">
								-96.00							</td>
													<td class="total aright tresorerie-initiale" id="tresorerie-initiale-5">
								-76.00							</td>
													<td class="total aright tresorerie-initiale" id="tresorerie-initiale-6">
								-56.00							</td>
													<td class="total aright tresorerie-initiale" id="tresorerie-initiale-7">
								-36.00							</td>
													<td class="total aright tresorerie-initiale" id="tresorerie-initiale-8">
								-16.00							</td>
													<td class="total aright tresorerie-initiale" id="tresorerie-initiale-9">
								-356.00							</td>
													<td class="total aright tresorerie-initiale" id="tresorerie-initiale-10">
								-332.00							</td>
													<td class="total aright tresorerie-initiale" id="tresorerie-initiale-11">
								-308.00							</td>
											</tr>

					<tr>
						<td colspan="13" class="separateur"></td>
					</tr>

					<tr>
						<td class="soustitre">Ventes TTC</td>

													<td class="aright encaissementshtml-0">
								0.00							</td>
													<td class="aright encaissementshtml-1">
								360.00							</td>
													<td class="aright encaissementshtml-2">
								120.00							</td>
													<td class="aright encaissementshtml-3">
								120.00							</td>
													<td class="aright encaissementshtml-4">
								120.00							</td>
													<td class="aright encaissementshtml-5">
								120.00							</td>
													<td class="aright encaissementshtml-6">
								120.00							</td>
													<td class="aright encaissementshtml-7">
								120.00							</td>
													<td class="aright encaissementshtml-8">
								120.00							</td>
													<td class="aright encaissementshtml-9">
								120.00							</td>
													<td class="aright encaissementshtml-10">
								120.00							</td>
													<td class="aright encaissementshtml-11">
								120.00							</td>
											</tr>

					<tr>
						<td class="soustitre">Encaissement sur produits antérieurs</td>

													<td class="aright encaissementshtml-0">
								0.00							</td>
													<td class="aright encaissementshtml-1">
								0.00							</td>
													<td class="aright encaissementshtml-2">
								0.00							</td>
													<td class="aright encaissementshtml-3">
								0.00							</td>
													<td class="aright encaissementshtml-4">
								0.00							</td>
													<td class="aright encaissementshtml-5">
								0.00							</td>
													<td class="aright encaissementshtml-6">
								0.00							</td>
													<td class="aright encaissementshtml-7">
								0.00							</td>
													<td class="aright encaissementshtml-8">
								0.00							</td>
													<td class="aright encaissementshtml-9">
								0.00							</td>
													<td class="aright encaissementshtml-10">
								0.00							</td>
													<td class="aright encaissementshtml-11">
								0.00							</td>
											</tr>

					<tr>
						<td class="soustitre">Capital</td>

													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-0" id="capital-0" name="capital-0" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-1" id="capital-1" name="capital-1" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-2" id="capital-2" name="capital-2" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-3" id="capital-3" name="capital-3" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-4" id="capital-4" name="capital-4" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-5" id="capital-5" name="capital-5" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-6" id="capital-6" name="capital-6" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-7" id="capital-7" name="capital-7" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-8" id="capital-8" name="capital-8" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-9" id="capital-9" name="capital-9" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-10" id="capital-10" name="capital-10" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-11" id="capital-11" name="capital-11" value="0.00" />							</td>
											</tr>

					<tr>
						<td class="soustitre">Comptes courants</td>

													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-0" id="comptecourant-0" name="compte-courant-0" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-1" id="comptecourant-1" name="compte-courant-1" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-2" id="comptecourant-2" name="compte-courant-2" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-3" id="comptecourant-3" name="compte-courant-3" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-4" id="comptecourant-4" name="compte-courant-4" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-5" id="comptecourant-5" name="compte-courant-5" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-6" id="comptecourant-6" name="compte-courant-6" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-7" id="comptecourant-7" name="compte-courant-7" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-8" id="comptecourant-8" name="compte-courant-8" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-9" id="comptecourant-9" name="compte-courant-9" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-10" id="comptecourant-10" name="compte-courant-10" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-11" id="comptecourant-11" name="compte-courant-11" value="0.00" />							</td>
											</tr>

					<tr>
						<td class="soustitre">Subventions</td>

													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-0" id="subvention-0" name="subvention-0" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-1" id="subvention-1" name="subvention-1" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-2" id="subvention-2" name="subvention-2" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-3" id="subvention-3" name="subvention-3" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-4" id="subvention-4" name="subvention-4" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-5" id="subvention-5" name="subvention-5" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-6" id="subvention-6" name="subvention-6" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-7" id="subvention-7" name="subvention-7" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-8" id="subvention-8" name="subvention-8" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-9" id="subvention-9" name="subvention-9" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-10" id="subvention-10" name="subvention-10" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-11" id="subvention-11" name="subvention-11" value="0.00" />							</td>
											</tr>

					<tr>
						<td class="soustitre">Avances remboursables</td>

													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-0" id="avanceremboursable-0" name="avance-remboursable-0" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-1" id="avanceremboursable-1" name="avance-remboursable-1" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-2" id="avanceremboursable-2" name="avance-remboursable-2" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-3" id="avanceremboursable-3" name="avance-remboursable-3" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-4" id="avanceremboursable-4" name="avance-remboursable-4" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-5" id="avanceremboursable-5" name="avance-remboursable-5" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-6" id="avanceremboursable-6" name="avance-remboursable-6" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-7" id="avanceremboursable-7" name="avance-remboursable-7" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-8" id="avanceremboursable-8" name="avance-remboursable-8" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-9" id="avanceremboursable-9" name="avance-remboursable-9" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-10" id="avanceremboursable-10" name="avance-remboursable-10" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-11" id="avanceremboursable-11" name="avance-remboursable-11" value="0.00" />							</td>
											</tr>

					<tr>
						<td class="soustitre">Emprunts</td>

													<td class="aright encaissementshtml-0">
								0.00							</td>
													<td class="aright encaissementshtml-1">
								0.00							</td>
													<td class="aright encaissementshtml-2">
								0.00							</td>
													<td class="aright encaissementshtml-3">
								0.00							</td>
													<td class="aright encaissementshtml-4">
								0.00							</td>
													<td class="aright encaissementshtml-5">
								0.00							</td>
													<td class="aright encaissementshtml-6">
								0.00							</td>
													<td class="aright encaissementshtml-7">
								0.00							</td>
													<td class="aright encaissementshtml-8">
								0.00							</td>
													<td class="aright encaissementshtml-9">
								0.00							</td>
													<td class="aright encaissementshtml-10">
								0.00							</td>
													<td class="aright encaissementshtml-11">
								0.00							</td>
											</tr>

					<tr>
						<td class="soustitre">Remboursements TVA</td>

													<td class="aright encaissementshtml-0">
								0.00							</td>
													<td class="aright encaissementshtml-1">
								0.00							</td>
													<td class="aright encaissementshtml-2">
								0.00							</td>
													<td class="aright encaissementshtml-3">
								0.00							</td>
													<td class="aright encaissementshtml-4">
								0.00							</td>
													<td class="aright encaissementshtml-5">
								0.00							</td>
													<td class="aright encaissementshtml-6">
								0.00							</td>
													<td class="aright encaissementshtml-7">
								0.00							</td>
													<td class="aright encaissementshtml-8">
								0.00							</td>
													<td class="aright encaissementshtml-9">
								0.00							</td>
													<td class="aright encaissementshtml-10">
								0.00							</td>
													<td class="aright encaissementshtml-11">
								0.00							</td>
											</tr>

					<tr>
						<td class="soustitre">Remboursement de crédit d'impôts</td>

													<td class="aright encaissementshtml-0">
								0.00							</td>
													<td class="aright encaissementshtml-1">
								0.00							</td>
													<td class="aright encaissementshtml-2">
								0.00							</td>
													<td class="aright encaissementshtml-3">
								0.00							</td>
													<td class="aright encaissementshtml-4">
								0.00							</td>
													<td class="aright encaissementshtml-5">
								0.00							</td>
													<td class="aright encaissementshtml-6">
								0.00							</td>
													<td class="aright encaissementshtml-7">
								0.00							</td>
													<td class="aright encaissementshtml-8">
								0.00							</td>
													<td class="aright encaissementshtml-9">
								0.00							</td>
													<td class="aright encaissementshtml-10">
								0.00							</td>
													<td class="aright encaissementshtml-11">
								0.00							</td>
											</tr>

					<tr>
						<td class="soustitre">Autres encaissements</td>

													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-0" id="autreencaissement-0" name="autre-encaissement-0" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-1" id="autreencaissement-1" name="autre-encaissement-1" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-2" id="autreencaissement-2" name="autre-encaissement-2" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-3" id="autreencaissement-3" name="autre-encaissement-3" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-4" id="autreencaissement-4" name="autre-encaissement-4" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-5" id="autreencaissement-5" name="autre-encaissement-5" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-6" id="autreencaissement-6" name="autre-encaissement-6" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-7" id="autreencaissement-7" name="autre-encaissement-7" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-8" id="autreencaissement-8" name="autre-encaissement-8" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-9" id="autreencaissement-9" name="autre-encaissement-9" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-10" id="autreencaissement-10" name="autre-encaissement-10" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text encaissements encaissements-11" id="autreencaissement-11" name="autre-encaissement-11" value="0.00" />							</td>
											</tr>

					<tr>
						<td class="total">Total encaissements</td>

													<td class="total aright totalencaissements-0">
								0.00							</td>
													<td class="total aright totalencaissements-1">
								360.00							</td>
													<td class="total aright totalencaissements-2">
								120.00							</td>
													<td class="total aright totalencaissements-3">
								120.00							</td>
													<td class="total aright totalencaissements-4">
								120.00							</td>
													<td class="total aright totalencaissements-5">
								120.00							</td>
													<td class="total aright totalencaissements-6">
								120.00							</td>
													<td class="total aright totalencaissements-7">
								120.00							</td>
													<td class="total aright totalencaissements-8">
								120.00							</td>
													<td class="total aright totalencaissements-9">
								120.00							</td>
													<td class="total aright totalencaissements-10">
								120.00							</td>
													<td class="total aright totalencaissements-11">
								120.00							</td>
											</tr>


					<tr>
						<td colspan="13" class="separateur"></td>
					</tr>

					<tr>
						<td class="soustitre">Achats TTC</td>

													<td class="aright decaissementshtml-0">
								288.00							</td>
													<td class="aright decaissementshtml-1">
								96.00							</td>
													<td class="aright decaissementshtml-2">
								96.00							</td>
													<td class="aright decaissementshtml-3">
								96.00							</td>
													<td class="aright decaissementshtml-4">
								96.00							</td>
													<td class="aright decaissementshtml-5">
								96.00							</td>
													<td class="aright decaissementshtml-6">
								96.00							</td>
													<td class="aright decaissementshtml-7">
								96.00							</td>
													<td class="aright decaissementshtml-8">
								96.00							</td>
													<td class="aright decaissementshtml-9">
								96.00							</td>
													<td class="aright decaissementshtml-10">
								96.00							</td>
													<td class="aright decaissementshtml-11">
								96.00							</td>
											</tr>

					<tr>
						<td class="soustitre">Décaissement des charges antérieures</td>

													<td class="aright decaissementshtml-0">
								0.00							</td>
													<td class="aright decaissementshtml-1">
								0.00							</td>
													<td class="aright decaissementshtml-2">
								0.00							</td>
													<td class="aright decaissementshtml-3">
								0.00							</td>
													<td class="aright decaissementshtml-4">
								0.00							</td>
													<td class="aright decaissementshtml-5">
								0.00							</td>
													<td class="aright decaissementshtml-6">
								0.00							</td>
													<td class="aright decaissementshtml-7">
								0.00							</td>
													<td class="aright decaissementshtml-8">
								0.00							</td>
													<td class="aright decaissementshtml-9">
								0.00							</td>
													<td class="aright decaissementshtml-10">
								0.00							</td>
													<td class="aright decaissementshtml-11">
								0.00							</td>
											</tr>

					<tr>
						<td class="soustitre">Frais généraux TTC</td>

													<td class="aright decaissementshtml-0">
								120.00							</td>
													<td class="aright decaissementshtml-1">
								0.00							</td>
													<td class="aright decaissementshtml-2">
								0.00							</td>
													<td class="aright decaissementshtml-3">
								0.00							</td>
													<td class="aright decaissementshtml-4">
								0.00							</td>
													<td class="aright decaissementshtml-5">
								0.00							</td>
													<td class="aright decaissementshtml-6">
								0.00							</td>
													<td class="aright decaissementshtml-7">
								0.00							</td>
													<td class="aright decaissementshtml-8">
								0.00							</td>
													<td class="aright decaissementshtml-9">
								0.00							</td>
													<td class="aright decaissementshtml-10">
								0.00							</td>
													<td class="aright decaissementshtml-11">
								0.00							</td>
											</tr>

					<tr>
						<td class="soustitre">Rémunérations nettes</td>

													<td class="aright decaissementshtml-0">
								0.00							</td>
													<td class="aright decaissementshtml-1">
								0.00							</td>
													<td class="aright decaissementshtml-2">
								0.00							</td>
													<td class="aright decaissementshtml-3">
								0.00							</td>
													<td class="aright decaissementshtml-4">
								0.00							</td>
													<td class="aright decaissementshtml-5">
								0.00							</td>
													<td class="aright decaissementshtml-6">
								0.00							</td>
													<td class="aright decaissementshtml-7">
								0.00							</td>
													<td class="aright decaissementshtml-8">
								0.00							</td>
													<td class="aright decaissementshtml-9">
								0.00							</td>
													<td class="aright decaissementshtml-10">
								0.00							</td>
													<td class="aright decaissementshtml-11">
								0.00							</td>
											</tr>

					<tr>
						<td class="soustitre">Charges sociales</td>

													<td class="aright decaissementshtml-0">
								0.00							</td>
													<td class="aright decaissementshtml-1">
								0.00							</td>
													<td class="aright decaissementshtml-2">
								0.00							</td>
													<td class="aright decaissementshtml-3">
								0.00							</td>
													<td class="aright decaissementshtml-4">
								0.00							</td>
													<td class="aright decaissementshtml-5">
								0.00							</td>
													<td class="aright decaissementshtml-6">
								0.00							</td>
													<td class="aright decaissementshtml-7">
								0.00							</td>
													<td class="aright decaissementshtml-8">
								0.00							</td>
													<td class="aright decaissementshtml-9">
								0.00							</td>
													<td class="aright decaissementshtml-10">
								0.00							</td>
													<td class="aright decaissementshtml-11">
								0.00							</td>
											</tr>

					<tr>
						<td class="soustitre">Immobilisations</td>

													<td class="aright decaissementshtml-0">
								0.00							</td>
													<td class="aright decaissementshtml-1">
								0.00							</td>
													<td class="aright decaissementshtml-2">
								0.00							</td>
													<td class="aright decaissementshtml-3">
								0.00							</td>
													<td class="aright decaissementshtml-4">
								0.00							</td>
													<td class="aright decaissementshtml-5">
								0.00							</td>
													<td class="aright decaissementshtml-6">
								0.00							</td>
													<td class="aright decaissementshtml-7">
								0.00							</td>
													<td class="aright decaissementshtml-8">
								360.00							</td>
													<td class="aright decaissementshtml-9">
								0.00							</td>
													<td class="aright decaissementshtml-10">
								0.00							</td>
													<td class="aright decaissementshtml-11">
								0.00							</td>
											</tr>

					<tr>
						<td class="soustitre">Décaissement de TVA</td>

													<td class="aright decaissementshtml-0">
								0.00							</td>
													<td class="aright decaissementshtml-1">
								0.00							</td>
													<td class="aright decaissementshtml-2">
								0.00							</td>
													<td class="aright decaissementshtml-3">
								0.00							</td>
													<td class="aright decaissementshtml-4">
								4.00							</td>
													<td class="aright decaissementshtml-5">
								4.00							</td>
													<td class="aright decaissementshtml-6">
								4.00							</td>
													<td class="aright decaissementshtml-7">
								4.00							</td>
													<td class="aright decaissementshtml-8">
								4.00							</td>
													<td class="aright decaissementshtml-9">
								0.00							</td>
													<td class="aright decaissementshtml-10">
								0.00							</td>
													<td class="aright decaissementshtml-11">
								0.00							</td>
											</tr>

					<tr>
						<td class="soustitre">Impôt sur les Sociétés</td>

													<td class="aright decaissementshtml-0">
								0.00							</td>
													<td class="aright decaissementshtml-1">
								0.00							</td>
													<td class="aright decaissementshtml-2">
								0.00							</td>
													<td class="aright decaissementshtml-3">
								0.00							</td>
													<td class="aright decaissementshtml-4">
								0.00							</td>
													<td class="aright decaissementshtml-5">
								0.00							</td>
													<td class="aright decaissementshtml-6">
								0.00							</td>
													<td class="aright decaissementshtml-7">
								0.00							</td>
													<td class="aright decaissementshtml-8">
								0.00							</td>
													<td class="aright decaissementshtml-9">
								0.00							</td>
													<td class="aright decaissementshtml-10">
								0.00							</td>
													<td class="aright decaissementshtml-11">
								0.00							</td>
											</tr>

					<tr>
						<td class="soustitre">Remboursement Emprunts</td>

													<td class="aright decaissementshtml-0">
								0.00							</td>
													<td class="aright decaissementshtml-1">
								0.00							</td>
													<td class="aright decaissementshtml-2">
								0.00							</td>
													<td class="aright decaissementshtml-3">
								0.00							</td>
													<td class="aright decaissementshtml-4">
								0.00							</td>
													<td class="aright decaissementshtml-5">
								0.00							</td>
													<td class="aright decaissementshtml-6">
								0.00							</td>
													<td class="aright decaissementshtml-7">
								0.00							</td>
													<td class="aright decaissementshtml-8">
								0.00							</td>
													<td class="aright decaissementshtml-9">
								0.00							</td>
													<td class="aright decaissementshtml-10">
								0.00							</td>
													<td class="aright decaissementshtml-11">
								0.00							</td>
											</tr>

					<tr>
						<td class="soustitre">Autres décaissements</td>

													<td class="aright duplicate">
																<input type="text" class="type-text decaissements decaissements-0" id="autredecaissement-0" name="autre-decaissement-0" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text decaissements decaissements-1" id="autredecaissement-1" name="autre-decaissement-1" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text decaissements decaissements-2" id="autredecaissement-2" name="autre-decaissement-2" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text decaissements decaissements-3" id="autredecaissement-3" name="autre-decaissement-3" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text decaissements decaissements-4" id="autredecaissement-4" name="autre-decaissement-4" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text decaissements decaissements-5" id="autredecaissement-5" name="autre-decaissement-5" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text decaissements decaissements-6" id="autredecaissement-6" name="autre-decaissement-6" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text decaissements decaissements-7" id="autredecaissement-7" name="autre-decaissement-7" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text decaissements decaissements-8" id="autredecaissement-8" name="autre-decaissement-8" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text decaissements decaissements-9" id="autredecaissement-9" name="autre-decaissement-9" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text decaissements decaissements-10" id="autredecaissement-10" name="autre-decaissement-10" value="0.00" />							</td>
													<td class="aright duplicate">
																<input type="text" class="type-text decaissements decaissements-11" id="autredecaissement-11" name="autre-decaissement-11" value="0.00" />							</td>
											</tr>

					<tr>
						<td class="total">Total décaissements</td>

													<td class="total aright totaldecaissements-0">
								408.00							</td>
													<td class="total aright totaldecaissements-1">
								96.00							</td>
													<td class="total aright totaldecaissements-2">
								96.00							</td>
													<td class="total aright totaldecaissements-3">
								96.00							</td>
													<td class="total aright totaldecaissements-4">
								100.00							</td>
													<td class="total aright totaldecaissements-5">
								100.00							</td>
													<td class="total aright totaldecaissements-6">
								100.00							</td>
													<td class="total aright totaldecaissements-7">
								100.00							</td>
													<td class="total aright totaldecaissements-8">
								460.00							</td>
													<td class="total aright totaldecaissements-9">
								96.00							</td>
													<td class="total aright totaldecaissements-10">
								96.00							</td>
													<td class="total aright totaldecaissements-11">
								96.00							</td>
											</tr>

					<tr>
						<td colspan="13" class="separateur"></td>
					</tr>

					<tr>
						<td class="soustitre">Ecart encaissements-décaissements</td>

													<td class="aright ecart-0">
								-408.00							</td>
													<td class="aright ecart-1">
								+264.00							</td>
													<td class="aright ecart-2">
								+24.00							</td>
													<td class="aright ecart-3">
								+24.00							</td>
													<td class="aright ecart-4">
								+20.00							</td>
													<td class="aright ecart-5">
								+20.00							</td>
													<td class="aright ecart-6">
								+20.00							</td>
													<td class="aright ecart-7">
								+20.00							</td>
													<td class="aright ecart-8">
								-340.00							</td>
													<td class="aright ecart-9">
								+24.00							</td>
													<td class="aright ecart-10">
								+24.00							</td>
													<td class="aright ecart-11">
								+24.00							</td>
											</tr>

					<tr>
						<td class="total">Trésorerie finale</td>

													<td class="total aright tresorerie-finale" id="tresorerie-finale-0">
								-408.00							</td>
													<td class="total aright tresorerie-finale" id="tresorerie-finale-1">
								-144.00							</td>
													<td class="total aright tresorerie-finale" id="tresorerie-finale-2">
								-120.00							</td>
													<td class="total aright tresorerie-finale" id="tresorerie-finale-3">
								-96.00							</td>
													<td class="total aright tresorerie-finale" id="tresorerie-finale-4">
								-76.00							</td>
													<td class="total aright tresorerie-finale" id="tresorerie-finale-5">
								-56.00							</td>
													<td class="total aright tresorerie-finale" id="tresorerie-finale-6">
								-36.00							</td>
													<td class="total aright tresorerie-finale" id="tresorerie-finale-7">
								-16.00							</td>
													<td class="total aright tresorerie-finale" id="tresorerie-finale-8">
								-356.00							</td>
													<td class="total aright tresorerie-finale" id="tresorerie-finale-9">
								-332.00							</td>
													<td class="total aright tresorerie-finale" id="tresorerie-finale-10">
								-308.00							</td>
													<td class="total aright tresorerie-finale" id="tresorerie-finale-11">
								-284.00							</td>
											</tr>

					<tr>
						<td class="separateur" colspan="13"></td>
					</tr>

					<tr class="italic">
						<td class="wrap"><!-- [DEBUG] Différence tréso fin de mois - cash flow fin de mois  --></td>

													<td class="aright fs-10" style="font-size:9px !important;">
								0.00							</td>
													<td class="aright fs-10" style="font-size:9px !important;">
								0.00							</td>
													<td class="aright fs-10" style="font-size:9px !important;">
								0.00							</td>
													<td class="aright fs-10" style="font-size:9px !important;">
								0.00							</td>
													<td class="aright fs-10" style="font-size:9px !important;">
								0.00							</td>
													<td class="aright fs-10" style="font-size:9px !important;">
								0.00							</td>
													<td class="aright fs-10" style="font-size:9px !important;">
								0.00							</td>
													<td class="aright fs-10" style="font-size:9px !important;">
								0.00							</td>
													<td class="aright fs-10" style="font-size:9px !important;">
								0.00							</td>
													<td class="aright fs-10" style="font-size:9px !important;">
								0.00							</td>
													<td class="aright fs-10" style="font-size:9px !important;">
								0.00							</td>
													<td class="aright fs-10" style="font-size:9px !important;">
								0.00							</td>
											</tr>
									</table>



		<div class="margeur-30">

		
			<div id="container-tr-0" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

			
			<script type="text/javascript">
			$(function () {
			    $('#container-tr-0').highcharts({

		            chart: {
		                animation: false
		            },
			        title: {
			            text: 'Trésorerie finale',
			            x: -20 //center
			        },
			        xAxis: {
			            categories: ["Janv","Fév","Mars","Avril","Mai","Juin","Juil","Aout","Sept","Oct","Nov","Déc"]
			        },
			        yAxis: {
			            title: {
			                text: 'Montant'
			            },
			            plotLines: [{
			                value: 0,
			                width: 1,
			                color: '#808080'
			            }]
			        },
			        series: [{
			            name: "Trésorerie finale",
			            data: [-408,-144,-120,-96,-76,-56,-36,-16,-356,-332,-308,-284]
			        }]
			    });
			});
			</script>
		</div>
			</div>
</form>
                            <input type="hidden" id="id_tableau" name="id_tableau" value="25" />

<div class="bloc-commentaires margeur-50" id="notes">
	<h2 class="fleft">Notes</h2>

		<div class="fright">
		<a href="#" id="hide-notes" class="no_alert_a_sauvegarder" >
			<i class="fa fa-times-circle-o fs-20"></i>
		</a>
	</div>
	<div class="clearer"></div>

	<form action="" method="post" class="formulaire margeur-20">
		<textarea id="note" name="note" ></textarea>

				<div class="form-element">
			<input type="button" class="btn btn-lg btn-success submit-note" value="Sauvegarder la note" />
		</div>
			</form>
	</div>

<div class="bloc-commentaires margeur-50" id="commentaires">
	<div class="clearer">&nbsp;</div><div class="margeur-10"></div>
	<h2 class="fleft">Discussion</h2>
		<div class="fright">
		<a href="#" id="hide-commentaires" class="no_alert_a_sauvegarder">
			<i class="fa fa-times-circle-o fs-20"></i>
		</a>
	</div>
		<div class="clearer"></div>

	<div id="commentaires-container">
			</div>

		<form action="" method="post" class="formulaire margeur-20">
		<div class="champ">
			<input type="text" name="redacteur" id="redacteur" placeholder="Votre nom" value="" />
		</div>

		<div class="champ margeur-5">
			<textarea id="commentaire" name="commentaire" placeholder="Votre commentaire"></textarea>
		</div>

		<div class="form-element">
			<input type="button" class="btn btn-lg btn-success submit-note" value="Envoyer le commentaire" />
		</div>
	</form>
	
	<div class="margeur-10"></div>
</div>

	<div class="liens-sociaux">
		<div id="show-commentaires" class="fleft btn btn-md btn-primary tool-tip" style="margin:0px" title="Discussion">
			<i class="fa fa-comments fs-18"></i> (<span id="nb-commentaires">0</span>)
		</div>

		<div id="show-notes" class="btn btn-md btn-primary fleft tool-tip" style="margin:0px 0px 0px 10px;" title="Notes">
			<i class="fa fa-sticky-note"></i>
					</div>
	</div>
                    </div>

{% endblock %}
{% block footer %}
{{parent()}}
{% endblock %}
{% block comment %}
{{parent()}} 
{% endblock %}
