{% extends 'business/monbuisness.html.twig' %}
{% block head %}
{{parent()}}
{% endblock %}
  {% block nav %}
  {{parent()}}
  {% endblock %}
 {% block sidebar %}
 {{parent()}}
{% endblock %}
{% block menufooter %}
{{parent()}}
{% endblock %}
{% block topnavigation %}
{{parent()}}
{% endblock %}   
{% block content %}

 <div class="right_col" role="main">
                            
<form class="formulaire" method="post" action="">
	<div class="entete entete-min">
		<h1 class="fleft">
			IS
		</h1>

					<div class="fleft margeur-l15">
					<div class="pagination-periode">
		
					<a href="https://www.montpellier-business-plan.com/mon-business-plan/is-annee-0" class="btn btn-primary btn-md btn-success" title="Année 1">
				Année 1			</a>
					<a href="https://www.montpellier-business-plan.com/mon-business-plan/is-annee-1" class="btn btn-primary btn-md " title="Année 2">
				Année 2			</a>
					<a href="https://www.montpellier-business-plan.com/mon-business-plan/is-annee-2" class="btn btn-primary btn-md " title="Année 3">
				Année 3			</a>
		
				<!--<a href="https://www.montpellier-business-plan.com/mon-business-plan/is-annee-1" class="btn btn-md">
			&raquo;
		</a>-->
		

	</div>
			</div>
		
		<div class="call-to-action fright">
							<div class="fleft">
					<a href="https://www.montpellier-business-plan.com/mon-business-plan/elements-anterieurs" title="Éléments antérieurs" class="btn btn-md btn-primary">
						Éléments antérieurs					</a>
				</div>

					<div class="fleft">
		<a href="https://www.montpellier-business-plan.com/espace_client/bp/process_imprimer_bp?is[]=0" id="export-imprimer" target="_blank" class="btn btn-primary btn-md tool-tip" title="Exporter au format PDF">
			<i class="fa fa-file-pdf-o"></i> &nbsp;Exporter
		</a>
	</div>

									<div class="fleft">
						<input type="submit" class="btn btn-md btn-success dont-print" value="Valider" />
					</div>
									</div>

		<div class="clearer"></div>
	</div>

	<div class="x_panel">

					<div class="form-element absolute" id="validation_mouvante">
				<input type="submit" class="btn btn-lg btn-success dont-print" value="Valider" />
			</div>
		
		<table class="tableau">
		    <tr>
				<th>Année 1</th>

								<th>Janv</th>
								<th>Fév</th>
								<th>Mars</th>
								<th>Avril</th>
								<th>Mai</th>
								<th>Juin</th>
								<th>Juil</th>
								<th>Aout</th>
								<th>Sept</th>
								<th>Oct</th>
								<th>Nov</th>
								<th>Déc</th>
				
			</tr>

			<tr>
				<td class="total">IS dû en début de mois</td>

									<td class="total aright">
						0.00					</td>
									<td class="total aright">
						0.00					</td>
									<td class="total aright">
						0.00					</td>
									<td class="total aright">
						0.00					</td>
									<td class="total aright">
						0.00					</td>
									<td class="total aright">
						0.00					</td>
									<td class="total aright">
						0.00					</td>
									<td class="total aright">
						0.00					</td>
									<td class="total aright">
						0.00					</td>
									<td class="total aright">
						0.00					</td>
									<td class="total aright">
						0.00					</td>
									<td class="total aright">
						0.00					</td>
							</tr>

			<tr>
				<td colspan="13" class="separateur"></td>
			</tr>

			<tr>
				<td>Versement d'IS</td>

									<td class="aright duplicate">
												<input type="text" class="type-text" id="is-0" name="is-0" value="0.00" />					</td>
									<td class="aright duplicate">
												<input type="text" class="type-text" id="is-1" name="is-1" value="0.00" />					</td>
									<td class="aright duplicate">
												<input type="text" class="type-text" id="is-2" name="is-2" value="0.00" />					</td>
									<td class="aright duplicate">
												<input type="text" class="type-text" id="is-3" name="is-3" value="0.00" />					</td>
									<td class="aright duplicate">
												<input type="text" class="type-text" id="is-4" name="is-4" value="0.00" />					</td>
									<td class="aright duplicate">
												<input type="text" class="type-text" id="is-5" name="is-5" value="0.00" />					</td>
									<td class="aright duplicate">
												<input type="text" class="type-text" id="is-6" name="is-6" value="0.00" />					</td>
									<td class="aright duplicate">
												<input type="text" class="type-text" id="is-7" name="is-7" value="0.00" />					</td>
									<td class="aright duplicate">
												<input type="text" class="type-text" id="is-8" name="is-8" value="0.00" />					</td>
									<td class="aright duplicate">
												<input type="text" class="type-text" id="is-9" name="is-9" value="0.00" />					</td>
									<td class="aright duplicate">
												<input type="text" class="type-text" id="is-10" name="is-10" value="0.00" />					</td>
									<td class="aright duplicate">
												<input type="text" class="type-text" id="is-11" name="is-11" value="0.00" />					</td>
							</tr>

			<tr>
				<td>Remboursement CIR</td>

									<td class="aright duplicate">
												<input type="text" class="type-text" id="cir-0" name="cir-0" value="0.00" />					</td>
									<td class="aright duplicate">
												<input type="text" class="type-text" id="cir-1" name="cir-1" value="0.00" />					</td>
									<td class="aright duplicate">
												<input type="text" class="type-text" id="cir-2" name="cir-2" value="0.00" />					</td>
									<td class="aright duplicate">
												<input type="text" class="type-text" id="cir-3" name="cir-3" value="0.00" />					</td>
									<td class="aright duplicate">
												<input type="text" class="type-text" id="cir-4" name="cir-4" value="0.00" />					</td>
									<td class="aright duplicate">
												<input type="text" class="type-text" id="cir-5" name="cir-5" value="0.00" />					</td>
									<td class="aright duplicate">
												<input type="text" class="type-text" id="cir-6" name="cir-6" value="0.00" />					</td>
									<td class="aright duplicate">
												<input type="text" class="type-text" id="cir-7" name="cir-7" value="0.00" />					</td>
									<td class="aright duplicate">
												<input type="text" class="type-text" id="cir-8" name="cir-8" value="0.00" />					</td>
									<td class="aright duplicate">
												<input type="text" class="type-text" id="cir-9" name="cir-9" value="0.00" />					</td>
									<td class="aright duplicate">
												<input type="text" class="type-text" id="cir-10" name="cir-10" value="0.00" />					</td>
									<td class="aright duplicate">
												<input type="text" class="type-text" id="cir-11" name="cir-11" value="0.00" />					</td>
							</tr>

			<tr>
				<td colspan="13" class="separateur"></td>
			</tr>

			<tr>
				<td>
					IS de l'exercice				</td>

									<td class="aright">

					</td>
									<td class="aright">

					</td>
									<td class="aright">

					</td>
									<td class="aright">

					</td>
									<td class="aright">

					</td>
									<td class="aright">

					</td>
									<td class="aright">

					</td>
									<td class="aright">

					</td>
									<td class="aright">

					</td>
									<td class="aright">

					</td>
									<td class="aright">

					</td>
				
				<td class="aright cadre">
					0.00				</td>
			</tr>

			<tr>
				<td>
					CIR de l'exercice				</td>

									<td class="aright">

					</td>
									<td class="aright">

					</td>
									<td class="aright">

					</td>
									<td class="aright">

					</td>
									<td class="aright">

					</td>
									<td class="aright">

					</td>
									<td class="aright">

					</td>
									<td class="aright">

					</td>
									<td class="aright">

					</td>
									<td class="aright">

					</td>
									<td class="aright">

					</td>
				
				<td class="aright cadre">
					0.00				</td>
			</tr>

			<tr>
				<td class="total">IS dû en fin de mois</td>

									<td class="total aright">
						0.00					</td>
									<td class="total aright">
						0.00					</td>
									<td class="total aright">
						0.00					</td>
									<td class="total aright">
						0.00					</td>
									<td class="total aright">
						0.00					</td>
									<td class="total aright">
						0.00					</td>
									<td class="total aright">
						0.00					</td>
									<td class="total aright">
						0.00					</td>
									<td class="total aright">
						0.00					</td>
									<td class="total aright">
						0.00					</td>
									<td class="total aright">
						0.00					</td>
									<td class="total aright">
						0.00					</td>
							</tr>

			<!--
			<tr>
				<td>IS dû</td>

									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
							</tr>

			 -->

			<!--
			<tr>
				<td>Crédit imôt (Recherche, etc.) </td>

									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
							</tr>
			 -->

			<!--
			<tr>
				<td>Cash Flow</td>

									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
							</tr>

			 -->

			<!--
			<tr>
				<td>Solde IS dû</td>

									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
							</tr>
			 -->

			<!--
			<tr>
				<td>Solde CIR</td>

									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
									<td class="aright">
						0.00					</td>
							</tr>
			 -->
		</table>
	</div>
</form>
                            <input type="hidden" id="id_tableau" name="id_tableau" value="22" />

<div class="bloc-commentaires margeur-50" id="notes">
	<h2 class="fleft">Notes</h2>

		<div class="fright">
		<a href="#" id="hide-notes" class="no_alert_a_sauvegarder" >
			<i class="fa fa-times-circle-o fs-20"></i>
		</a>
	</div>
	<div class="clearer"></div>

	<form action="" method="post" class="formulaire margeur-20">
		<textarea id="note" name="note" ></textarea>

				<div class="form-element">
			<input type="button" class="btn btn-lg btn-success submit-note" value="Sauvegarder la note" />
		</div>
			</form>
	</div>

<div class="bloc-commentaires margeur-50" id="commentaires">
	<div class="clearer">&nbsp;</div><div class="margeur-10"></div>
	<h2 class="fleft">Discussion</h2>
		<div class="fright">
		<a href="#" id="hide-commentaires" class="no_alert_a_sauvegarder">
			<i class="fa fa-times-circle-o fs-20"></i>
		</a>
	</div>
		<div class="clearer"></div>

	<div id="commentaires-container">
			</div>

		<form action="" method="post" class="formulaire margeur-20">
		<div class="champ">
			<input type="text" name="redacteur" id="redacteur" placeholder="Votre nom" value="" />
		</div>

		<div class="champ margeur-5">
			<textarea id="commentaire" name="commentaire" placeholder="Votre commentaire"></textarea>
		</div>

		<div class="form-element">
			<input type="button" class="btn btn-lg btn-success submit-note" value="Envoyer le commentaire" />
		</div>
	</form>
	
	<div class="margeur-10"></div>
</div>

	<div class="liens-sociaux">
		<div id="show-commentaires" class="fleft btn btn-md btn-primary tool-tip" style="margin:0px" title="Discussion">
			<i class="fa fa-comments fs-18"></i> (<span id="nb-commentaires">0</span>)
		</div>

		<div id="show-notes" class="btn btn-md btn-primary fleft tool-tip" style="margin:0px 0px 0px 10px;" title="Notes">
			<i class="fa fa-sticky-note"></i>
					</div>
	</div>
                    </div>

{% endblock %}
{% block footer %}
{{parent()}}
{% endblock %}
{% block comment %}
{{parent()}} 
{% endblock %}
