
{% extends 'layout_dashboard.html.twig' %}
{% block js %}
 <script type="text/javascript">
            jQuery(document).ready(function() {
                /*jQuery.gritter.add({
                    title: ' ',
                    text: 'Vous êtes désormais connecté en tant que hanazarraa53@gmail.com'
                });*/
                
                                    alertify.success('Vous êtes désormais connecté en tant que '.{{ app.user.username }});
                    $('.alertify-log-success').prepend('<p class="fleft" style="margin-top:-1px; margin-right:10px;"><i class="fa fa-check-circle fs-26" style="color:#55B475"></i></p>');
                
            });
 </script>
{% endblock %}

          {% block page_content %}  
   
        <!-- page content -->
   <div class="right_col" role="main">
                            
<div class="entete">
	<h1 class="dblock fleft">
		{{'MyBusinessPlan'|trans }}	</h1>

	
	<div class="call-to-action fright">
		 <div class="fleft">
							<a href="{{ path('businessplan_create')}}" title="Create a business plan" class="btn btn-lg btn-primary">
					<i class="fa fa-plus-circle"></i> &nbsp;{{'New'|trans}}				</a>
					</div>

		<div class="fleft margeur-l20">
			<a href="../espace_client/compte/affiche_invite" title="Share" class="btn btn-lg btn-primary">
				<i class="fa fa-share-alt"></i> &nbsp;{{'Share'|trans}}			</a>
		</div>

		<div class="clearer"></div>
	</div>

	<div class="clearer"></div>
</div>

<div class="x_panel">
	<div class="margeur-25 liste-bp">

		

		<table class="tableau no-highlight">
			<tr>
				<th class="fs-18">Business plan</th>

				<th></th>

				<th></th>
			</tr>
                       {% for  business in app.user.businessplans %}
							<tr>
					<td>
						<p class="fs-18">
							<a href="{{path('monbuisnessplan',{'code':business.code})}}">
								{{ business.name }}	</a>
						</p>
					</td>

					<td>
						<p>
							{{'bpover'|trans}} {{business.numberofyears}} {{'starting'|trans}} {{business.startmonth}} {{ business.startyear}}						<br />
							{{'creation'|trans}} {{business.CreatedAt|date("d/m/Y")}}  {{'at'|trans}} {{business.CreatedAt|date("H:i:s","Europe/Paris")}}													</p>
					</td>

					<td style="width:260px">
						<div class="fleft acenter fs-22">
							<a href="{{path('monbuisnessplan',{'code':business.code})}}">
								<i class="fa fa-pencil"></i>
								<br />
								<span class="fs-15">modify</span>
							</a>
						</div>

													<div class="fleft acenter fs-22 margeur-l15">
								<a href="#" class="demande-confirmation">
									<i class="fa fa-files-o"></i>
									<br />
									<span class="fs-15">{{'clone'|trans}}</span>
								</a>
							</div>
						
						<div class="fleft margeur-l15 acenter fs-22">
							<a href="{{path('businessdelete',{'code':business.code})}}" class="demande-confirmation icone">
								<i class="fa fa-trash-o"></i>
								<br />
								<span class="fs-15">{{'delete'|trans}}</span>
							</a>
						</div>

						<div class="clearer"></div>
					</td>
				</tr>
                {% endfor %}
					</table>
	</div>

	<div class="clearer"></div>

	<div class="margeur-20"></div>

	<div class="row">
		

		<!-- <div class="col-sm-6">
			<div class="bloc-aide">
				<p class="fs-20 bold">Support technique</p>

				<p class="margeur-10">
					Problème technique, bug, difficulité d'utilisation ? Consultez le support technique.
				</p>

				<p class="margeur-10">
					<a href="" class="btn btn-md btn-primary" target="_blank">Click here</a>
					Pour accéder au support technique
				</p>
			</div>
		</div> -->
	</div>

	<div class="clearer"></div>
</div>
  </div>
  {% endblock %}
       
        

               