<!DOCTYPE HTML>
{% if app.user %}

<META HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8"><META HTTP-EQUIV="Refresh" CONTENT="0; URL={{ path('dashboard')}}"><TITLE>Page has moved</TITLE>
<A HREF="{{ path('dashboard')}}"><h3>you are aleardy logged in...</h3></A>

{% else %}
<!DOCTYPE HTML>
<html>
    
<!-- Mirrored from www.montpellier-business-plan.com/fr by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 15 Oct 2019 08:52:59 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

                	<title>111-Factory Business Plan</title>
        
        <meta name="Description" content="Le 111-factory Business Plan vous permet gratuitement, en ligne ou hors ligne, et en toute sécurité de simuler vos chiffres financiers. Intégrant les modèles économiques les plus récents vous pourrez ainsi piloter votre activité avec une vision claire des flux financiers, que vous pouvez partager avec vos interlocuteurs." />
        <meta name="keywords" content="business plan, simulation financière, business model, SaaS, On line, En ligne, gratuit, ergonomique, flux financiers, comptabilité analytique, JEI, CIR, levée de fonds, financement privé" />

        <link href='https://fonts.googleapis.com/css?family=Crimson+Text:400,700,700italic,600italic,600,400italic' rel='stylesheet' type='text/css'>

                	        		<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/reset.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/generic.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/jquery-ui-1.9.0.custom.min.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/jquery.gritter.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/jquery.lightbox-0.5.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/jquery.jqzoom.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/buttons.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/breadcrumbs.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/alertify.core.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/alertify.default.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/modal.css" rel="stylesheet" type="text/css" />
        	        		<link href="css/styles.css" rel="stylesheet" type="text/css" />
        	        
                	        		<link href="css/print.css" rel="stylesheet" type="text/css" media="print" />
        	        
        <link href="https://fast.fonts.com/cssapi/f05d5db4-4276-4aa0-b2f2-6567ca2132d9.css" rel="stylesheet" type="text/css" />

    
        <!--[if IE 6]>
        	<link rel="stylesheet" type="text/css" ../css/ie6.css" media="screen" />
        <![endif]-->

        <script type="text/javascript">
        	var site_url = 'index.html';
        	var base_url = 'index.html';
        	var lang_url = 'fr.html';
        	var current_url = 'fr.html';
        </script>


                	        		<script src="js/jquery-1.10.2.min.js" type="text/javascript" ></script>
        	        		<script src="js/jquery-ui.min.js" type="text/javascript" ></script>
        	        		<script src="js/bootstrap.min.js" type="text/javascript" ></script>
        	        		<script src="js/jquery.gritter.min.js" type="text/javascript" ></script>
        	        		<script src="js/jquery.lightbox-0.5.min.js" type="text/javascript" ></script>
        	        		<script src="js/modal.js" type="text/javascript" ></script>
        	        		<script src="js/jquery.general.js" type="text/javascript" ></script>
        	        		<script src="js/jqFancyTransitions.1.8.js" type="text/javascript" ></script>
        	        		<script src="js/jquery.backgroundposition.js" type="text/javascript" ></script>
        	        		<script src="js/jquery.scrollfollow.js" type="text/javascript" ></script>
        	        		<script src="js/jquery.jqzoom-core-pack.js" type="text/javascript" ></script>
        	        		<script src="js/jquery.animate-colors.js" type="text/javascript" ></script>
        	        		<script src="js/jquery.token.js" type="text/javascript" ></script>
        	        		<script src="js/phpjs.min.js" type="text/javascript" ></script>
        	        		<script src="js/alertify.min.js" type="text/javascript" ></script>
        	        		<script src="js/highcharts.js" type="text/javascript" ></script>
        	        		<script src="js/highcharts-more.js" type="text/javascript" ></script>
        	        		<script src="js/highcharts.init.js" type="text/javascript" ></script>
        	        		<script src="js/highcharts_modules/exporting.js" type="text/javascript" ></script>
        	        		<script src="js/homepage.js" type="text/javascript" ></script>
        	        
        
        
        <link rel="apple-touch-icon" sizes="57x57" href="images/favicon.png">
        <link rel="apple-touch-icon" sizes="60x60" href="images/favicon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/favicon.png">
        <link rel="apple-touch-icon" sizes="76x76" href="images/favicon.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/favicon.png">
        <link rel="apple-touch-icon" sizes="120x120" href="images/favicon.png">
        <link rel="apple-touch-icon" sizes="144x144" href="images/favicon.png">
        <link rel="apple-touch-icon" sizes="152x152" href="images/favicon.png">
        <link rel="apple-touch-icon" sizes="180x180" href="images/favicon.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="images/favicon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="images/favicon.png">
        <link rel="icon" type="image/png" sizes="96x96" href="images/favicon.png">
        <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
        <link rel="manifest" href="images/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="images/favicon.png">
        <meta name="theme-color" content="#ffffff">
    </head>

    
    <body>
    	<div id="header" class="header-content">
			{% if app.request.getLocale() =='en' %}
    				<ul class="fright margeur-8 margeur-r30">
    					    <li class="fleft margeur-l20">
    							<a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}">FR</a>
    						</li>

    						
    					<li class="clearer"></li>
    				</ul>
					{% endif %}
					 {% if app.request.getLocale() =='fr' %}
    				<ul class="fright margeur-8 margeur-r30">
    					   
    						<li class="fleft margeur-l20" active>
    							<a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">EN</a>
    						</li>
    					
    					<li class="clearer"></li>
    				</ul>
					{% endif %}

     

    		<div class="container relative" style="height:115px;">
    		

    			    				<div class="menu-login-absolute display-menu">
    					<div class="top"></div>
    					<form class="content"  method="post" action="{{path('app_login')}}">
					        
                         


                         
                      
                      
    						<div class="margeur-l10">
    							<label for="inputEmail">E-mail <span class="rouge">*</span></label><br />
    							<input type="text" class="form-control" required autofocus id="inputEmail" name="email" value="" />
    						</div>

    						<div class="margeur-10 margeur-l10">
    							<label for="inputPassword">{{'password'|trans}} <span class="rouge">*</span></label><br />
    							<input type="password" id="inputPassword" class="form-control" required name="password" value="" />
    						</div>

							<div class="margeur-10 margeur-l10">
							 <input type="hidden" name="_csrf_token"
                                value="{{ csrf_token('authenticate') }}">
                            </div>

    						<ul class="margeur-10">
    							<li>
    								<a href="{{path('app_login')}}" class=""> {{'Code'|trans}} ?</a>
    							</li>

    							<li>
    								<a href="{{path('app_register')}}" title="Créer un nouveau compte">
    								  {{ 'nouveau'|trans }}								</a>
    							</li>

    							<li>
    								<a href="{{path('forgotten_password')}}" title="Mot de passe perdu">
    									{{ 'lost_password'|trans }} 								</a>
    							</li>
    						</ul>

    						<div class="margeur-10 margeur-l10">
    							<input type="hidden" name="login-form" value="post" />
    							<input type="submit" class="type-submit" value="{{'Connection'|trans}}" />
    						</div>
    					</form>
    				</div>
    			
    			<div style="position:absolute;top:0px;right:0px;">
    				<div class="fright container-menu">
    					    						<div class="bloc-user-login fleft display-menu">
    							<h2 class="bloc-moncompte">
    							<a href="{{path('app_login')}}">{{ 'Connexion'|trans }}</a>
	   							</h2>
    						</div>
    					
    					
    					<ul class="menu fright">
    						    						    						<li>
    							<a href="{{ path('app_register')}}" title="Inscription">
    								{{ 'Inscription'|trans}}    							</a>
    						</li>
    						
    						<!--
    						<li>
    							<a href="http://support.montpellier-technopole.com/" target="_blank" title="FAQ">
    								FAQ
    							</a>
    						</li>
    						 -->

    						<li class="clearer"></li>
    					</ul>

    					<div class="clearer"></div>
    				</div>
                   
    				<div class="clearer"></div>
    			</div>
    		</div>

    	</div>

                	
<div class="contenu-unlimited">
	<div class="container">
		<div class="content" style="width:100%">

			<div class="top-blocs">
									<div class="homebloc">
		
			<h1>111-factory </h1>
	
			<div class="row">
							<div class="col-sm-5">
				  	<img src="upload/homepage/93d69ec4eb1df03a3a229027e236d997.jpg" alt="111-Factory" class="fleft margeur-r30" width="100%" />
				</div>
			
			<div class="col-sm-7">
				<div class="texte">
					<p>{{'commencer'|trans }}?</p>

<p>Utilisez la nouvelle version en ligne du logiciel 111-Factory et cr&eacute;dibilisez votre projet aupr&egrave;s de vos futurs partenaires.</p>

<p>Outil disponible gratuitement sur simple inscription.</p>

<p><span class="bouton-unlimited"><a href="{{ path('app_register')}}">Inscrivez-vous d&egrave;s maintenant !</a></span></p>				</div>
			</div>
		</div>
	

	

	
	</div>
							</div>

			
												<div class="row">
						<div class="col-sm-6">
							<div class="left-blocs">
								<div class="homebloc">
		
			<h2>5 raisons d'utiliser le 111-factory</h2>
	
			<div class="row">
			
			<div class="col-sm-12">
				<div class="texte">
					<p><img alt="" src="upload/images/numero_1.jpg" style="height:30px; vertical-align:middle; width:25px" /> <strong>Disponible partout et consultable sur tous les terminaux num&eacute;riques</strong></p>

<p><img alt="" src="upload/images/numero_2.jpg" style="height:30px; vertical-align:middle; width:25px" /> <strong>Id&eacute;al pour tester diff&eacute;rents mod&egrave;les &eacute;conomiques</strong></p>

<p><img alt="" src="upload/images/numero_3.jpg" style="height:30px; vertical-align:middle; width:25px" /> <strong>Outil collaboratif pour partager vos hypoth&egrave;ses avec vos partenaires</strong></p>

<p><img alt="" src="upload/images/numero_4.jpg" style="height:30px; vertical-align:middle; width:25px" /> <strong>Adapt&eacute; aux entreprises innovantes (statut JEI, CIR, etc.)</strong></p>

<p><img alt="" src="upload/images/numero_5.jpg" style="height:30px; vertical-align:middle; width:25px" /> <strong>Convertissable automatiquement au format comptable anglo-saxon</strong></p>

<p>&nbsp;</p>

<p><span class="bouton-unlimited"><a href="fr/p/5/construire-votre-business-plan.html">En savoir plus ...+</a></span></p>				</div>
			</div>
		</div>
	

	

	
	</div>
							</div>
						</div>

						<div class="col-sm-6">
															<div class="right-blocs">
									<div class="homebloc">
		
			<h2></h2>
	
			<div class="row">
			
			<div class="col-sm-12">
				<div class="texte">
					<ul>
	<li>un coach d&eacute;di&eacute; ...+</li>
	<li>
	<p>des programmes op&eacute;rationnels pour vous d&eacute;velopper commercialement ...+</p>
	</li>
	<li>
	<p>un accompagnement sp&eacute;cifique pour acc&eacute;der aux financements public et priv&eacute;s ...+</p>
	</li>
	<li>
	<p>un acc&egrave;s privil&eacute;gi&eacute; aux r&eacute;seaux d&#39;affaires et une rapide int&eacute;gration dans l&#39;&eacute;cosyst&egrave;me entrepreneurial ...+</p>
	</li>
	<li>
	<p>des sites d&rsquo;incubation pens&eacute;s pour les start-up ...+</p>
	</li>
</ul>

<p>Rejoignez notre communaut&eacute; actuelle de 150 start-up et 500 entreprises innovantes.</p>				</div>
			</div>
		</div>
	

	

	
	</div>
								</div>
													</div>
					</div>
									<div class="row">
						<div class="col-sm-6">
							<div class="left-blocs">
								<div class="homebloc">
		
			<h2>Ils ont choisi le 111-factory</h2>
	
	

			<div class="citation" id="citation-1">
			<div class="quote-container">
				<p class="quote">
					<img src="images/design/guillemet-open.png" alt="" class="open" />
										L’outil 111-factory Business Plan est très structuré et progressif, ce qui nous a amenés à valider chacune des hypothèses de notre business plan et nous a permis de corriger certaines incohérences. Intuitif et convivial, il nous a également permis de repenser la construction de notre trésorerie prévisionnelle. 
										<img src="images/design/guillemet-close.png" alt="" style="vertical-align:text-top" class="close" />
				</p>
			</div>

			<p class="signature homme">
								Wieger Mensonides, Gérant société CLOSING TOOLS<br />
				Utilisateur 111-factory Business Plan
							</p>
		</div>

		<div class="citation" id="citation-2">
			<div class="quote-container">
				<p class="quote">
					<img src="images/design/guillemet-open.png" alt="" class="open" />
										Pour ma première expérience de business plan, un logiciel très intuitif et très bien fait. Les différents tableaux sont liés entre eux, les chiffres s’imputent automatiquement dans les calculs, ce qui permet de vraies simulations. De plus il est consultable sur ma tablette, je peux ainsi montrer facilement le détail des chiffres au consultant qui suit mon projet de création. 
										<img src="images/design/guillemet-close.png" alt="" style="vertical-align:text-top" class="close" />
				</p>
			</div>

			<p class="signature homme">
								Francis Romano, porteur de projet<br />
				Utilisateur 111-factory Business Plan
							</p>
		</div>

		<div class="citation" id="citation-3">
			<div class="quote-container">
				<p class="quote">
					<img src="images/design/guillemet-open.png" alt="" class="open" />
										Nous avons créé notre business plan à partir de l'outil en ligne 111-factory Business Plan, sans connaissances particulières relatives à la création de business plan. Le logiciel est suffisamment souple et intuitif. Nous avons également apprécié la possibilité de pouvoir créer des variantes permettant d'envisager plusieurs scénarios de développement pour la société.
										<img src="images/design/guillemet-close.png" alt="" style="vertical-align:text-top" class="close" />
				</p>
			</div>

			<p class="signature homme">
								Nicolas Taillade, PDG de MECATRAN<br />
				Utilisateur 111-factory Business Plan
							</p>
		</div>

		<div class="citation" id="citation-4">
			<div class="quote-container">
				<p class="quote">
					<img src="images/design/guillemet-open.png" alt="" class="open" />
										Avec mon futur associé, nous pouvons partager notre prévisionnel en ligne et travailler à distance. Nous voyons ainsi tous les deux en même temps l'impact des modifications que l'on apporte au cours de nos discussions.  L'édition des tableaux est simplifiée, on peut même les exporter vers Excel™ pour en extraire des graphiques par exemple.
										<img src="images/design/guillemet-close.png" alt="" style="vertical-align:text-top" class="close" />
				</p>
			</div>

			<p class="signature homme">
								Jérôme Imbert, porteur de projet<br />
				Utilisateur 111-factory Business Plan
							</p>
		</div>

		<div class="citation" id="citation-5">
			<div class="quote-container">
				<p class="quote">
					<img src="images/design/guillemet-open.png" alt="" class="open" />
										Accessible et pédagogique, le 111-factory Business Plan permet au créateur d’entreprise de structurer sa démarche économique. Il constitue une base solide dans la communication financières aux partenaires du projet.
										<img src="images/design/guillemet-close.png" alt="" style="vertical-align:text-top" class="close" />
				</p>
			</div>

			<p class="signature homme">
								Luc Petiteau, Expert-Comptable SOFIRA EXPERTISE<br />
				Utilisateur 111-factory Business Plan
							</p>
		</div>

		<div class="pagination-quote acenter margeur-40">
							<a href="#" class="liencitation margeur-l10" id="liencitation-1">
					<img src="images/design/quote.png" alt="" class="inactive" />
					<img src="images/design/quote-active.png" alt="" class="active" />
				</a>
							<a href="#" class="liencitation margeur-l10" id="liencitation-2">
					<img src="images/design/quote.png" alt="" class="inactive" />
					<img src="images/design/quote-active.png" alt="" class="active" />
				</a>
							<a href="#" class="liencitation margeur-l10" id="liencitation-3">
					<img src="images/design/quote.png" alt="" class="inactive" />
					<img src="images/design/quote-active.png" alt="" class="active" />
				</a>
							<a href="#" class="liencitation margeur-l10" id="liencitation-4">
					<img src="images/design/quote.png" alt="" class="inactive" />
					<img src="images/design/quote-active.png" alt="" class="active" />
				</a>
							<a href="#" class="liencitation margeur-l10" id="liencitation-5">
					<img src="images/design/quote.png" alt="" class="inactive" />
					<img src="images/design/quote-active.png" alt="" class="active" />
				</a>
					</div>
	

	
	</div>
							</div>
						</div>

						<div class="col-sm-6">
															<div class="right-blocs">
									<div class="homebloc">
		
			<h2>Agenda</h2>
	
	

	

	
	
		
		<div class=" fright">
			<a href="http://www.entreprendre-montpellier.com/agenda" class="bouton-unlimited small" target="_blank">Voir tout l'agenda</a>
		</div>

		<div class="clearer"></div>

	</div>
								</div>
													</div>
					</div>
							
			<div class="clearer"></div>

			<div class="bottom-blocs">
							</div>
		</div>

		<div class="clearer"></div>
	</div>
</div>
        
        <div id="corps">
        	<div class="container">
        		        	</div>
        </div>

        <div id="footer">
            <div class="container">
                <div class="clearer">&nbsp;</div>
                <div class="margeur-15"></div>

                <div class="acenter">
                    <img src="" alt="" height="100" />
                </div>

                <ul class="liens">
                    <li class="fleft">
                                                    <a title="" href="#" target="_blank">Demande d'accompagnement</a>
                                            </li>

                    <li class="fleft">
                        <a title="" href="#">Conditions générales d'utilisation</a>
                    </li>

                    <li class="fleft">
                        <a title="" href="#">Mentions légales</a>
                    </li>

                    <li class="fleft">
                        <a title="" href="#">Crédits</a>
                    </li>

                    <li class="clearer"></li>
                </ul>

                <div class="acenter margeur-25 fs-12">
                    © 111-factory                </div>
            </div>
        </div>

        <div id="commentremplir">
            <div class="clearer"></div>
            <div class="margeur-15"></div>

            <div class="bouton-close">
                <a href="#" id="hide-commentremplir" class="no_alert_a_sauvegarder">
                    <i class="fa fa-times-circle-o fs-20"></i>
                </a>
            </div>

            <div class="content"></div>
        </div>
    </body>

</html>
{% endif %}